<a href="https://colab.research.google.com/github/genomika/pandas-workshop/blob/master/workshop-python_pandas_gnmk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# I Workshop de introdução a lib Pandas

![pandas](https://files.realpython.com/media/Python-Pandas-10-Tricks--Features-You-May-Not-Know-Watermark.e58bb5ce9835.jpg)
Figura 1: ["Python Pandas: Tricks & Features You May Not Know"](https://realpython.com/python-pandas-tricks/)

0. Instalando conda, jupyter notebook, pandas, etc;

  * [Instalando Conda no Ubuntu 18.04](https://www.digitalocean.com/community/tutorials/how-to-install-anaconda-on-ubuntu-18-04-quickstart-pt)
  * [Instalando Conda no Windows](https://docs.conda.io/projects/conda/en/latest/user-guide/install/windows.html)
  * [Instalando Conda no MacOS](https://docs.conda.io/projects/conda/en/latest/user-guide/install/macos.html)

1. Abrindo arquivos com Pandas

  * Series e DataFrames;
  * CSV;
  * Excel;
  * Python dicionários;
  * Python lista de tuplas;
  * Python lista de dicionários;
  * Manipulação básica de `DataFrame`s;
  * Escrevendo CSV, Excel.

2. Manipulando `DataFrame`s
  
  * Manipulando índices;
  * Filtrando `DataFrame`s;
  * Trabalhando com dados faltantes;
  * Agrupando um `DataFrame`;
  * Como juntar diferentes `DataFrame`s.

3. Manipulando big data com Vaex

4. Hands on com amostra de exemplo

# 1. Abrindo arquivos com Pandas

### `Series` e `DataFrame`

Para trabalhar manipulando dados com pandas é necessário importar esses dados de alguma forma para dentro da biblioteca. A forma mais comum de atingir esse objetivo é criar, usando o material de análise, estruturas de dados nativas do framework. Nesse curso, trabalharemos essencialmente com [*`DataFrame`*](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html) e [*`Series`*](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html).

`Series` são essencialmente uma estrutura similar a arrays unidimensionais cujo objetivo é guardar uma sequência de valores de forma indexada.

In [2]:
import pandas as pd
series = pd.Series([42, 13, 7, -99], index=["não", "aqui", "é o", "patrick"])
series

não        42
aqui       13
é o         7
patrick   -99
dtype: int64

De maneira mais simples, podemos interpretar `Series` como dicionários ordenados e de tamanho fixo. Inclusive, conseguimos criar essas estruturas a partir de dicionários, e usá-las em contextos onde usaríamos dicionários.

In [2]:
# https://en.wikipedia.org/wiki/List_of_most-streamed_songs_on_Spotify
spotify_mais_escutadas = {"Shape of You": 2433000, "Rockstar": 1831000, "One Dance": 1817000, "Closer": 1724000, "Thinking Out Loud": 1493000}
mais_escutadas_series = pd.Series(spotify_mais_escutadas)
mais_escutadas_series

Shape of You         2433000
Rockstar             1831000
One Dance            1817000
Closer               1724000
Thinking Out Loud    1493000
dtype: int64

In [3]:
"Rockstar" in mais_escutadas_series

True

In [4]:
"Bota Bota" in mais_escutadas_series # :(

False

`DataFrame`s são representações tabulares de dados. Essa estrutura contém um conjunto ordenado de colunas, podendo cada uma ter um tipo especíco de valor (numérico, texto, boleano e etc.). No `DataFrame` ambas colunas e linhas possuem índice.

In [5]:
formato_data = "%d/%m/%Y"
spotify_mais_escutadas = {"música": ["Shape of You", "Rockstar", "One Dance", "Closer", "Thinking Out Loud"],
                          "número_streams": [2433000, 1831000, 1817000, 1724000, 1493000],
                          "data_publicação": [pd.to_datetime("6/1/2017", format=formato_data),
                                              pd.to_datetime("15/9/2017", format=formato_data),
                                              pd.to_datetime("5/4/2016", format=formato_data),
                                              pd.to_datetime("29/7/2016", format=formato_data),
                                              pd.to_datetime("20/6/2014", format=formato_data)]}
spotify_mais_escutadas_df = pd.DataFrame(spotify_mais_escutadas)
spotify_mais_escutadas_df

              música  número_streams data_publicação
0       Shape of You         2433000      2017-01-06
1           Rockstar         1831000      2017-09-15
2          One Dance         1817000      2016-04-05
3             Closer         1724000      2016-07-29
4  Thinking Out Loud         1493000      2014-06-20

Nesse workshop trabalharemos majoritariamente com `DataFrame`s. Apesar de não ser uma solução universal para todos os problemas, o conjunto de métodos e ferramentas que acompanham o tipo `DataFrame` provêm uma base sólida e de uso simples para a maioria dos casos de uso.

### CSV

Para criar um `DataFrame` a partir de um arquivo `.csv` usamos a função [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html). Arquivos `.csv` têm por definição vírgulas como separadores de campos. Contudo, podemos mudar o argumento do parâmetro `sep` da função para criar um `DataFrame` a partir de arquivos delimitados por outros caracteres, como por exemplo o *tab*.

In [6]:
multianno_df = pd.read_csv("https://www.dropbox.com/s/xsxbyel2t9fjidl/GNMK_WORKSHOP-001.avinput.hg19_multianno.ann.txt?dl=1", sep="\t")
multianno_df.head()

,Chr,Start,End,Ref,Alt,Func.refGene,Gene.refGene,GeneDetail.refGene,ExonicFunc.refGene,AAChange.refGene,...,VCF_CHR,VCF_POS,VCF_ID,VCF_REF,VCF_ALT,VCF_QUAL_2,VCF_FILTER,VCF_INFO,VCF_FORMAT,VCF_SAMPLE_NAME
0,chr10,89622938,89622938,A,C,UTR5,KLLN,NM_001126049:c.-694T>G,.,.,...,chr10,89622938,.,A,C,290.77,.,ABHet=0.696;AC=1;AF=0.5;AN=2;BaseQRankSum=-10....,GT:AD:DP:GQ:PL,"0/1:1266,552:1820:99:319,0,12285"
1,chr10,89623142,89623142,C,T,UTR5,KLLN,NM_001126049:c.-898G>A,.,.,...,chr10,89623142,.,C,T,7963.77,.,ABHet=0.534;AC=1;AF=0.5;AN=2;BaseQRankSum=-0.7...,GT:AD:DP:GQ:PL,"0/1:306,267:574:99:7992,0,9864"
2,chr10,89623861,89623861,T,-,splicing,PTEN,NM_001304717:exon1:c.154+1T>-;NM_001304717:exo...,.,.,...,chr10,89623860,rs71022512,CT,C,234.80,.,AC=2;AF=1;AN=2;DB;DP=7;ExcessHet=3.0103;FS=0;M...,GT:AD:DP:GQ:PL,"1/1:0,6:7:18:272,18,0"
3,chr10,89623901,89623901,G,C,exonic,PTEN,.,nonsynonymous SNV,PTEN:NM_001304717:exon2:c.194G>C:p.C65S,...,chr10,89623901,rs2943772,G,C,440.77,.,ABHom=1;AC=2;AF=1;AN=2;DB;DP=14;Dels=0;ExcessH...,GT:AD:DP:GQ:PL,"1/1:0,14:14:36:469,36,0"
4,chr10,89654121,89654121,T,C,intronic,PTEN,.,.,.,...,chr10,89654121,rs139651072,T,C,216.77,.,ABHet=0.556;AC=1;AF=0.5;AN=2;BaseQRankSum=0.15...,GT:AD:DP:GQ:PL,"0/1:10,8:18:99:245,0,289"

O cabeçalho do `DataFrame` é por padrão inferido pela função `read_csv` com base na primeira linha do arquivo. Esse comportamento pode ser modificado usando uma combinação de valores para os parâmetros `header` e `names`.

### Excel

Para criar um `DataFrame` a partir de uma planilha do Excel usamos a função [`read_excel`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html). Essa função suporta arquivos com extensão *xls*, *xlsx*, *xlsm*, *xlsb*, e *odf*. Olhando por uma perspectiva de caixa preta, o comportamento da função `read_excel` é bem similar ao comportamento da função `read_csv`: Ambas recebem um arquivo e criam um `DataFrame` a partir do conteúdo desses arquivos.

In [7]:
aba_exonic_df = pd.read_excel("https://www.dropbox.com/s/gyx0hqco6dhtwg2/GNMK_WORKSHOP-001.xlsx?dl=1")
aba_exonic_df.head()

,RANK,CLINVAR,CLINVAR_COMMENTS,OMIM,OMIM_COMMENTS,UNIPROT,UNIPROT_COMMENTS,Func,Gene,ExonicFunc,...,MutationTaster_pred,GERP++_RS,Chr,Start,End,Ref,Alt,REPEATMASK,InterVar(automated),InterVar_Rules
0,29,OK,Pathogenic,OK,"Name={Breast cancer, male, susceptibility to},...",OK,SwissProt: P51587 # Breast cancer (BC) [MIM:11...,exonic,BRCA2,frameshift deletion,...,.,.,chr13,32929058,32929059,TC,-,NaN,.,NaN
1,11,OK,Benign,OK,"Name=Bannayan-Riley-Ruvalcaba syndrome, 153480...",OK,SwissProt: P60484 # Cowden syndrome 1 (CWS1) [...,splicing,PTEN,.,...,.,.,chr10,89623861,89623861,T,-,NaN,.,NaN
2,11,OK,Benign,OK,"Name=Blepharocheilodontic syndrome 1, 119580 (...",OK,SwissProt: P12830 # Hereditary diffuse gastric...,splicing,CDH1,.,...,.,.,chr16,68771372,68771372,C,T,NaN,.,NaN
3,10,OK,Benign,OK,"Name=Bannayan-Riley-Ruvalcaba syndrome, 153480...",OK,SwissProt: P60484 # Cowden syndrome 1 (CWS1) [...,exonic,PTEN,nonsynonymous SNV,...,.,.,chr10,89623901,89623901,G,C,Low_complexity_Low_complexity_GC_rich,Benign,"BA1, BS1"
4,10,OK,Benign,OK,"Name={Breast cancer, male, susceptibility to},...",OK,SwissProt: P51587 # Breast cancer (BC) [MIM:11...,exonic,BRCA2,nonsynonymous SNV,...,P,5.07,chr13,32929387,32929387,T,C,NaN,Benign,"BA1, BS1, BS2, BP1, BP6"

Caso a planilha usada como parâmetro contenha mais de uma aba, a função `read_excel` irá por padrão criar o `DataFrame` a partir dos dados contidos na primeira aba da planilha. Para usar dados de outras abas podemos mudar o argumento do parâmetro `sheet_name`.

In [8]:
# O parâmetro sheet_name pode receber uma string com o nome da aba cujo dados serão carregados
aba_intronic_df = pd.read_excel("https://www.dropbox.com/s/gyx0hqco6dhtwg2/GNMK_WORKSHOP-001.xlsx?dl=1", sheet_name="INTRONIC")
aba_intronic_df.head()

,RANK,CLINVAR,CLINVAR_COMMENTS,OMIM,OMIM_COMMENTS,UNIPROT,UNIPROT_COMMENTS,Func,Gene,ExonicFunc,...,MutationTaster_pred,GERP++_RS,Chr,Start,End,Ref,Alt,REPEATMASK,InterVar(automated),InterVar_Rules
0,17,NOK,.,OK,"Name=Cowden syndrome 4, 615107 (3)",OK,SwissProt: B2CW77 # Cowden syndrome 4 (CWS4) [...,UTR5,KLLN,.,...,.,.,chr10,89622938,89622938,A,C,NaN,.,NaN
1,17,OK,Conflicting_interpretations_of_pathogenicity,OK,"Name=Cowden syndrome 4, 615107 (3)",OK,SwissProt: B2CW77 # Cowden syndrome 4 (CWS4) [...,UTR5,KLLN,.,...,.,.,chr10,89623142,89623142,C,T,NaN,.,NaN
2,17,NOK,.,OK,"Name={Breast cancer, susceptibility to}, 11448...",OK,SwissProt: Q86YC2 # Breast cancer (BC) [MIM:11...,intronic,PALB2,.,...,.,.,chr16,23640160,23640160,G,T,SINE_Alu_AluSx1,.,NaN
3,17,NOK,.,OK,"Name=Blepharocheilodontic syndrome 1, 119580 (...",OK,SwissProt: P12830 # Hereditary diffuse gastric...,intronic,CDH1,.,...,.,.,chr16,68820717,68820717,C,A,NaN,.,NaN
4,17,NOK,.,OK,"Name=Blepharocheilodontic syndrome 1, 119580 (...",OK,SwissProt: P12830 # Hereditary diffuse gastric...,intronic,CDH1,.,...,.,.,chr16,68856474,68856474,T,C,NaN,.,NaN

In [9]:
# Também podemos usar inteiros como parâmetro, fazendo referência a ordem das abas (index zero)
aba_raw_df = pd.read_excel("https://www.dropbox.com/s/gyx0hqco6dhtwg2/GNMK_WORKSHOP-001.xlsx?dl=1", sheet_name=3)
aba_raw_df.head()

,RANK,CLINVAR,CLINVAR_COMMENTS,OMIM,OMIM_COMMENTS,UNIPROT,UNIPROT_COMMENTS,Func,Gene,ExonicFunc,...,Ref,Alt,REPEATMASK,InterVar(automated),InterVar_Rules,QUAL.1,FILTER.1,INFO,FORMAT,FORMAT_INFO
0,29,OK,Pathogenic,OK,"Name={Breast cancer, male, susceptibility to},...",OK,SwissProt: P51587 # Breast cancer (BC) [MIM:11...,exonic,BRCA2,frameshift deletion,...,TC,-,NaN,.,NaN,33599.70,PASS,AC=1;AF=0.5;AN=2;BaseQRankSum=2.352;DB;DP=1613...,GT:AD:DP:GQ:PL,"0/1:853,734:1613:99:33637,0,39748"
1,17,NOK,.,OK,"Name=Cowden syndrome 4, 615107 (3)",OK,SwissProt: B2CW77 # Cowden syndrome 4 (CWS4) [...,UTR5,KLLN,.,...,A,C,NaN,.,NaN,290.77,PASS,ABHet=0.696;AC=1;AF=0.5;AN=2;BaseQRankSum=-10....,GT:AD:DP:GQ:PL,"0/1:1266,552:1820:99:319,0,12285"
2,17,OK,Conflicting_interpretations_of_pathogenicity,OK,"Name=Cowden syndrome 4, 615107 (3)",OK,SwissProt: B2CW77 # Cowden syndrome 4 (CWS4) [...,UTR5,KLLN,.,...,C,T,NaN,.,NaN,7963.77,PASS,ABHet=0.534;AC=1;AF=0.5;AN=2;BaseQRankSum=-0.7...,GT:AD:DP:GQ:PL,"0/1:306,267:574:99:7992,0,9864"
3,17,NOK,.,OK,"Name={Breast cancer, susceptibility to}, 11448...",OK,SwissProt: Q86YC2 # Breast cancer (BC) [MIM:11...,intronic,PALB2,.,...,G,T,SINE_Alu_AluSx1,.,NaN,35.77,PASS,ABHet=0.6;AC=1;AF=0.5;AN=2;BaseQRankSum=0;DP=5...,GT:AD:DP:GQ:PL,"0/1:3,2:5:64:64,0,103"
4,17,NOK,.,OK,"Name=Blepharocheilodontic syndrome 1, 119580 (...",OK,SwissProt: P12830 # Hereditary diffuse gastric...,intronic,CDH1,.,...,C,A,NaN,.,NaN,680.77,PASS,ABHet=0.587;AC=1;AF=0.5;AN=2;BaseQRankSum=-1.4...,GT:AD:DP:GQ:PL,"0/1:37,26:63:99:709,0,1225"

In [10]:
# Se quisermos usar dados de todas as abas da planilha passamos None para o sheet_name
planilha_completa = pd.read_excel("https://www.dropbox.com/s/gyx0hqco6dhtwg2/GNMK_WORKSHOP-001.xlsx?dl=1", sheet_name=None)
type(planilha_completa)

dict

In [11]:
# E então podemos acessar os dados de todas as abas a partir de um único objeto
aba_exonic_df = planilha_completa["EXONIC"]
aba_exonic_mosaic_df = planilha_completa["EXONIC MOSAIC"]
aba_intronic_df = planilha_completa["INTRONIC"]
aba_raw_df = planilha_completa["RAW"]

### Python dicionários

Quando introduzimos `DataFrame`s usamos como exemplo um dicionário python. Tendo um dicionário basta usar a função `DataFrame()` para que ele seja transformado.

In [12]:
climas_datas = {
    'dia': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temperatura': [32, 35, 28, 24, 32, 31],
    'velocidade_vento': [6, 7, 2, 7, 4, 2],
    'evento': ['Chuva', 'Sol', 'Neve', 'Neve', 'Chuva', 'Sol']
}
df = pd.DataFrame(climas_datas)
df

        dia  temperatura  velocidade_vento evento
0  1/1/2017           32                 6  Chuva
1  1/2/2017           35                 7    Sol
2  1/3/2017           28                 2   Neve
3  1/4/2017           24                 7   Neve
4  1/5/2017           32                 4  Chuva
5  1/6/2017           31                 2    Sol

### Python lista de tuplas

É possível criar um `DataFrame` a partir de uma lista de tuplas, sendo necessário especificar o nome das colunas pelo argumento `columns`, por exemplo:

In [13]:
climas_datas = [
    ('1/1/2017', 32, 6, 'Chuva'),
    ('1/2/2017', 35, 7, 'Sol'),
    ('1/3/2017', 28, 2, 'Neve')
]

df = pd.DataFrame(climas_datas, columns=[
    'dia', 'temperatura', 'velocidade_vento', 'evento'
])
df

        dia  temperatura  velocidade_vento evento
0  1/1/2017           32                 6  Chuva
1  1/2/2017           35                 7    Sol
2  1/3/2017           28                 2   Neve

### Python lista de dicionários

É possível criar um DataFrame a partir de uma lista de dicionários, como:

In [14]:
climas_datas = [
    {'dia': '1/1/2017', 'temperatura': 32, 'velocidade_vento': 6,'evento': 'Chuva'},
    {'dia': '1/2/2017', 'temperatura': 35, 'velocidade_vento': 7,'evento': 'Sunny'},
    {'dia': '1/3/2017', 'temperatura': 28, 'velocidade_vento': 2,'evento': 'Neve'} 
]
df = pd.DataFrame(climas_datas)
df

        dia  temperatura  velocidade_vento evento
0  1/1/2017           32                 6  Chuva
1  1/2/2017           35                 7  Sunny
2  1/3/2017           28                 2   Neve

* Existem vários outros tipos de arquivos que podem ser abertos com Pandas, criando `DataFrame`s, alguns exemplos são `JSON`, `HTML`, `HDF5`, `SQL`, `Parquet` e outros, para mais formatos segue a lista de [*IO tools*](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html) possíveis.

### Manipulação básica de `DataFrame`s

Para saber o tamanho do `DataFrame` podemos usar o método `shape` que retorna uma tupla com os valores `(linhas, colunas)`

In [15]:
multianno_df.shape

(92, 183)

Visualizando as primeiras e as últimas linhas dos dados.

In [16]:
multianno_df.head()

,Chr,Start,End,Ref,Alt,Func.refGene,Gene.refGene,GeneDetail.refGene,ExonicFunc.refGene,AAChange.refGene,...,VCF_CHR,VCF_POS,VCF_ID,VCF_REF,VCF_ALT,VCF_QUAL_2,VCF_FILTER,VCF_INFO,VCF_FORMAT,VCF_SAMPLE_NAME
0,chr10,89622938,89622938,A,C,UTR5,KLLN,NM_001126049:c.-694T>G,.,.,...,chr10,89622938,.,A,C,290.77,.,ABHet=0.696;AC=1;AF=0.5;AN=2;BaseQRankSum=-10....,GT:AD:DP:GQ:PL,"0/1:1266,552:1820:99:319,0,12285"
1,chr10,89623142,89623142,C,T,UTR5,KLLN,NM_001126049:c.-898G>A,.,.,...,chr10,89623142,.,C,T,7963.77,.,ABHet=0.534;AC=1;AF=0.5;AN=2;BaseQRankSum=-0.7...,GT:AD:DP:GQ:PL,"0/1:306,267:574:99:7992,0,9864"
2,chr10,89623861,89623861,T,-,splicing,PTEN,NM_001304717:exon1:c.154+1T>-;NM_001304717:exo...,.,.,...,chr10,89623860,rs71022512,CT,C,234.80,.,AC=2;AF=1;AN=2;DB;DP=7;ExcessHet=3.0103;FS=0;M...,GT:AD:DP:GQ:PL,"1/1:0,6:7:18:272,18,0"
3,chr10,89623901,89623901,G,C,exonic,PTEN,.,nonsynonymous SNV,PTEN:NM_001304717:exon2:c.194G>C:p.C65S,...,chr10,89623901,rs2943772,G,C,440.77,.,ABHom=1;AC=2;AF=1;AN=2;DB;DP=14;Dels=0;ExcessH...,GT:AD:DP:GQ:PL,"1/1:0,14:14:36:469,36,0"
4,chr10,89654121,89654121,T,C,intronic,PTEN,.,.,.,...,chr10,89654121,rs139651072,T,C,216.77,.,ABHet=0.556;AC=1;AF=0.5;AN=2;BaseQRankSum=0.15...,GT:AD:DP:GQ:PL,"0/1:10,8:18:99:245,0,289"

* A função `head()` mostra as primeiras 5 linhas do `DataFrame`, mas é possível especificar quantas você quer ver pondo um valor inteiro dentro dos `()`, como:

In [17]:
multianno_df.head(23)

,Chr,Start,End,Ref,Alt,Func.refGene,Gene.refGene,GeneDetail.refGene,ExonicFunc.refGene,AAChange.refGene,...,VCF_CHR,VCF_POS,VCF_ID,VCF_REF,VCF_ALT,VCF_QUAL_2,VCF_FILTER,VCF_INFO,VCF_FORMAT,VCF_SAMPLE_NAME
0,chr10,89622938,89622938,A,C,UTR5,KLLN,NM_001126049:c.-694T>G,.,.,...,chr10,89622938,.,A,C,290.77,.,ABHet=0.696;AC=1;AF=0.5;AN=2;BaseQRankSum=-10....,GT:AD:DP:GQ:PL,"0/1:1266,552:1820:99:319,0,12285"
1,chr10,89623142,89623142,C,T,UTR5,KLLN,NM_001126049:c.-898G>A,.,.,...,chr10,89623142,.,C,T,7963.77,.,ABHet=0.534;AC=1;AF=0.5;AN=2;BaseQRankSum=-0.7...,GT:AD:DP:GQ:PL,"0/1:306,267:574:99:7992,0,9864"
2,chr10,89623861,89623861,T,-,splicing,PTEN,NM_001304717:exon1:c.154+1T>-;NM_001304717:exo...,.,.,...,chr10,89623860,rs71022512,CT,C,234.80,.,AC=2;AF=1;AN=2;DB;DP=7;ExcessHet=3.0103;FS=0;M...,GT:AD:DP:GQ:PL,"1/1:0,6:7:18:272,18,0"
3,chr10,89623901,89623901,G,C,exonic,PTEN,.,nonsynonymous SNV,PTEN:NM_001304717:exon2:c.194G>C:p.C65S,...,chr10,89623901,rs2943772,G,C,440.77,.,ABHom=1;AC=2;AF=1;AN=2;DB;DP=14;Dels=0;ExcessH...,GT:AD:DP:GQ:PL,"1/1:0,14:14:36:469,36,0"
4,chr10,89654121,89654121,T,C,intronic,PTEN,.,.,.,...,chr10,89654121,rs139651072,T,C,216.77,.,ABHet=0.556;AC=1;AF=0.5;AN=2;BaseQRankSum=0.15...,GT:AD:DP:GQ:PL,"0/1:10,8:18:99:245,0,289"
5,chr10,89654190,89654190,G,A,intronic,PTEN,.,.,.,...,chr10,89654190,rs181780682,G,A,29.77,.,ABHet=0.714;AC=1;AF=0.5;AN=2;BaseQRankSum=0.36...,GT:AD:DP:GQ:PL,"0/1:5,2:7:58:58,0,172"
6,chr10,89711576,89711576,C,T,intronic,PTEN,.,.,.,...,chr10,89711576,rs141005791,C,T,96.77,.,ABHet=0.556;AC=1;AF=0.5;AN=2;BaseQRankSum=0.21...,GT:AD:DP:GQ:PL,"0/1:5,4:9:99:125,0,133"
7,chr10,89718057,89718057,A,G,intronic,PTEN,.,.,.,...,chr10,89718057,.,A,G,759.77,.,ABHet=0.324;AC=1;AF=0.5;AN=2;BaseQRankSum=0.83...,GT:AD:DP:GQ:PL,"0/1:11,23:34:99:788,0,283"
8,chr10,89720548,89720548,A,G,intronic,PTEN,.,.,.,...,chr10,89720548,.,A,G,1491.77,.,ABHet=0.467;AC=1;AF=0.5;AN=2;BaseQRankSum=-0.5...,GT:AD:DP:GQ:PL,"0/1:42,48:90:99:1520,0,1330"
9,chr10,89720634,89720634,T,-,intronic,PTEN,.,.,.,...,chr10,89720633,.,CT,C,1805.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=-0.601;DP=689;Ex...,GT:AD:DP:GQ:PL,"0/1:443,192:689:99:1843,0,6330"
10,chr10,89720907,89720907,T,G,intronic,PTEN,.,.,.,...,chr10,89720907,rs555895,T,G,10070.80,.,ABHet=0.555;AC=1;AF=0.5;AN=2;BaseQRankSum=6.08...,GT:AD:DP:GQ:PL,"0/1:397,318:717:99:10099,0,11475"
11,chr10,89721094,89721094,C,T,intronic,PTEN,.,.,.,...,chr10,89721094,rs2736627,C,T,3289.77,.,ABHom=1;AC=2;AF=1;AN=2;DB;DP=92;Dels=0;ExcessH...,GT:AD:DP:GQ:PL,"1/1:0,92:92:99:3318,259,0"
12,chr10,89725294,89725294,T,-,UTR3,PTEN,NM_001304718:c.*65delT;NM_001304717:c.*65delT;...,.,.,...,chr10,89725293,.,CT,C,9448.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=0.417;DP=2406;Ex...,GT:AD:DP:GQ:PL,"0/1:1610,625:2406:99:9486,0,34365"
13,chr10,89725582,89725582,C,T,UTR3,PTEN,NM_001304718:c.*353C>T;NM_001304717:c.*353C>T;...,.,.,...,chr10,89725582,rs181234898,C,T,201.77,.,ABHet=0.526;AC=1;AF=0.5;AN=2;BaseQRankSum=0.31...,GT:AD:DP:GQ:PL,"0/1:10,9:19:99:230,0,266"
14,chr13,32889968,32889968,G,A,intronic,BRCA2,.,.,.,...,chr13,32889968,rs206119,G,A,3707.77,.,ABHom=1;AC=2;AF=1;AN=2;DB;DP=98;Dels=0;ExcessH...,GT:AD:DP:GQ:PL,"1/1:0,98:98:99:3736,289,0"
15,chr13,32899567,32899567,G,C,intronic,BRCA2,.,.,.,...,chr13,32899567,rs11571613,G,C,634.77,.,ABHet=0.286;AC=1;AF=0.5;AN=2;BaseQRankSum=0.96...,GT:AD:DP:GQ:PL,"0/1:8,20:28:99:663,0,227"
16,chr13,32899878,32899878,C,T,intronic,BRCA2,.,.,.,...,chr13,32899878,rs206071,C,T,633.77,.,ABHom=1;AC=2;AF=1;AN=2;DB;DP=19;Dels=0;ExcessH...,GT:AD:DP:GQ:PL,"1/1:0,19:19:51:662,51,0"
17,chr13,32905220,32905220,T,-,intronic,BRCA2,.,.,.,...,chr13,32905219,.,AT,A,2225.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=4.537;DP=630;Exc...,GT:AD:DP:GQ:PL,"0/1:413,156:630:99:2263,0,8472"
18,chr13,32905265,32905265,G,A,intronic,BRCA2,.,.,.,...,chr13,32905265,rs206073,G,A,14280.80,.,ABHom=0.995;AC=2;AF=1;AN=2;BaseQRankSum=-0.511...,GT:AD:DP:GQ:PL,"1/1:2,388:392:99:14309,1038,0"
19,chr13,32907536,32907536,T,-,intronic,BRCA2,.,.,.,...,chr13,32907535,.,CT,C,4200.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=3.476;DP=1016;Ex...,GT:AD:DP:GQ:PL,"0/1:669,272:1016:99:4238,0,14585"
20,chr13,32911888,32911888,A,G,exonic,BRCA2,.,synonymous SNV,BRCA2:NM_000059:exon11:c.3396A>G:p.K1132K,...,chr13,32911888,rs1801406,A,G,30677.80,.,ABHet=0.511;AC=1;AF=0.5;AN=2;BaseQRankSum=1.67...,GT:AD:DP:GQ:PL,"0/1:1393,1332:2730:99:30706,0,32616"
21,chr13,32912299,32912299,T,C,exonic,BRCA2,.,synonymous SNV,BRCA2:NM_000059:exon11:c.3807T>C:p.V1269V,...,chr13,32912299,rs543304,T,C,35335.80,.,ABHet=0.503;AC=1;AF=0.5;AN=2;BaseQRankSum=-10....,GT:AD:DP:GQ:PL,"0/1:1388,1370:2759:99:35364,0,36070"
22,chr13,32913055,32913055,A,G,exonic,BRCA2,.,synonymous SNV,BRCA2:NM_000059:exon11:c.4563A>G:p.L1521L,...,chr13,32913055,rs206075,A,G,53264.80,.,ABHom=1;AC=2;AF=1;AN=2;DB;DP=2013;Dels=0;Exces...,GT:AD:DP:GQ:PL,"1/1:0,2010:2013:99:53293,3847,0"

* Do mesmo jeito pode se usar a função `tail()`

In [18]:
multianno_df.tail()

,Chr,Start,End,Ref,Alt,Func.refGene,Gene.refGene,GeneDetail.refGene,ExonicFunc.refGene,AAChange.refGene,...,VCF_CHR,VCF_POS,VCF_ID,VCF_REF,VCF_ALT,VCF_QUAL_2,VCF_FILTER,VCF_INFO,VCF_FORMAT,VCF_SAMPLE_NAME
87,chr17,41258136,41258136,A,-,intronic,BRCA1,.,.,.,...,chr17,41258135,.,TA,T,203.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=-1.019;DP=69;Exc...,GT:AD:DP:GQ:PL,"0/1:36,24:69:99:241,0,424"
88,chr19,1206797,1206797,T,-,UTR5,STK11,NM_000455:c.-116del-,.,.,...,chr19,1206796,.,CT,C,2222.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=1.767;ClippingRa...,GT:AD:DP:GQ:MLPSAC:MLPSAF:PL:SAC:SB,"0/1:604,172:776:99:1:0.5:2260,0,15656:245,359,..."
89,chr19,1219444,1219444,C,G,intronic,STK11,.,.,.,...,chr19,1219444,.,C,G,672.77,.,ABHet=0.307;AC=1;AF=0.5;AN=2;BaseQRankSum=-1.8...,GT:AD:DP:GQ:PL,"0/1:39,88:127:99:701,0,458"
90,chr19,1219451,1219451,C,G,intronic,STK11,.,.,.,...,chr19,1219451,.,C,G,213.77,.,ABHet=0.654;AC=1;AF=0.5;AN=2;BaseQRankSum=-1.6...,GT:AD:DP:GQ:PL,"0/1:117,62:179:99:242,0,1041"
91,chr19,1221418,1221418,T,G,intronic,STK11,.,.,.,...,chr19,1221418,.,T,G,25.78,.,ABHet=0.417;AC=1;AF=0.5;AN=2;BaseQRankSum=-5.9...,GT:AD:DP:GQ:PL,"0/1:108,151:263:54:54,0,1020"

In [19]:
multianno_df.tail(2)

,Chr,Start,End,Ref,Alt,Func.refGene,Gene.refGene,GeneDetail.refGene,ExonicFunc.refGene,AAChange.refGene,...,VCF_CHR,VCF_POS,VCF_ID,VCF_REF,VCF_ALT,VCF_QUAL_2,VCF_FILTER,VCF_INFO,VCF_FORMAT,VCF_SAMPLE_NAME
90,chr19,1219451,1219451,C,G,intronic,STK11,.,.,.,...,chr19,1219451,.,C,G,213.77,.,ABHet=0.654;AC=1;AF=0.5;AN=2;BaseQRankSum=-1.6...,GT:AD:DP:GQ:PL,"0/1:117,62:179:99:242,0,1041"
91,chr19,1221418,1221418,T,G,intronic,STK11,.,.,.,...,chr19,1221418,.,T,G,25.78,.,ABHet=0.417;AC=1;AF=0.5;AN=2;BaseQRankSum=-5.9...,GT:AD:DP:GQ:PL,"0/1:108,151:263:54:54,0,1020"

* É possível fazer um *slicing* de linhas a serem visualização usando os valores dos índices (sendo o último valor não incluso).

In [20]:
multianno_df[3:7]

,Chr,Start,End,Ref,Alt,Func.refGene,Gene.refGene,GeneDetail.refGene,ExonicFunc.refGene,AAChange.refGene,...,VCF_CHR,VCF_POS,VCF_ID,VCF_REF,VCF_ALT,VCF_QUAL_2,VCF_FILTER,VCF_INFO,VCF_FORMAT,VCF_SAMPLE_NAME
3,chr10,89623901,89623901,G,C,exonic,PTEN,.,nonsynonymous SNV,PTEN:NM_001304717:exon2:c.194G>C:p.C65S,...,chr10,89623901,rs2943772,G,C,440.77,.,ABHom=1;AC=2;AF=1;AN=2;DB;DP=14;Dels=0;ExcessH...,GT:AD:DP:GQ:PL,"1/1:0,14:14:36:469,36,0"
4,chr10,89654121,89654121,T,C,intronic,PTEN,.,.,.,...,chr10,89654121,rs139651072,T,C,216.77,.,ABHet=0.556;AC=1;AF=0.5;AN=2;BaseQRankSum=0.15...,GT:AD:DP:GQ:PL,"0/1:10,8:18:99:245,0,289"
5,chr10,89654190,89654190,G,A,intronic,PTEN,.,.,.,...,chr10,89654190,rs181780682,G,A,29.77,.,ABHet=0.714;AC=1;AF=0.5;AN=2;BaseQRankSum=0.36...,GT:AD:DP:GQ:PL,"0/1:5,2:7:58:58,0,172"
6,chr10,89711576,89711576,C,T,intronic,PTEN,.,.,.,...,chr10,89711576,rs141005791,C,T,96.77,.,ABHet=0.556;AC=1;AF=0.5;AN=2;BaseQRankSum=0.21...,GT:AD:DP:GQ:PL,"0/1:5,4:9:99:125,0,133"

* Para saber quais as colunas presentes no `DataFrame` basta usar o método `columns`, que ele retorna algo parecido com uma lista contendo todos os nomes de colunas.

In [21]:
multianno_df.columns

Index(['Chr', 'Start', 'End', 'Ref', 'Alt', 'Func.refGene', 'Gene.refGene',
       'GeneDetail.refGene', 'ExonicFunc.refGene', 'AAChange.refGene',
       ...
       'VCF_CHR', 'VCF_POS', 'VCF_ID', 'VCF_REF', 'VCF_ALT', 'VCF_QUAL_2',
       'VCF_FILTER', 'VCF_INFO', 'VCF_FORMAT', 'VCF_SAMPLE_NAME'],
      dtype='object', length=183)

* Dá para percerber que ele não te mostra tudo, se quiser mesmo ver tudo use o método `values` em cima do método `columns`.

In [22]:
multianno_df.columns.values

array(['Chr', 'Start', 'End', 'Ref', 'Alt', 'Func.refGene',
       'Gene.refGene', 'GeneDetail.refGene', 'ExonicFunc.refGene',
       'AAChange.refGene', 'ABRaOM_HomozygousALT', 'ABRaOM_Hemizygous',
       'ABRaOM_Allele_number', 'ABRaOM_Allele_ALT_count',
       'ABRaOM_Frequencies', 'esp6500siv2_all', '1000g2015aug_all',
       'ExAC_ALL', 'ExAC_AFR', 'ExAC_AMR', 'ExAC_EAS', 'ExAC_FIN',
       'ExAC_NFE', 'ExAC_OTH', 'ExAC_SAS', 'CLNALLELEID', 'CLNDN',
       'CLNDISDB', 'CLNREVSTAT', 'CLNSIG', 'avsift', 'SIFT_score',
       'SIFT_converted_rankscore', 'SIFT_pred', 'Polyphen2_HDIV_score',
       'Polyphen2_HDIV_rankscore', 'Polyphen2_HDIV_pred',
       'Polyphen2_HVAR_score', 'Polyphen2_HVAR_rankscore',
       'Polyphen2_HVAR_pred', 'LRT_score', 'LRT_converted_rankscore',
       'LRT_pred', 'MutationTaster_score',
       'MutationTaster_converted_rankscore', 'MutationTaster_pred',
       'MutationAssessor_score', 'MutationAssessor_score_rankscore',
       'MutationAssessor_pred', 'FATHMM_score',
       'FATHMM_converted_rankscore', 'FATHMM_pred', 'PROVEAN_score',
       'PROVEAN_converted_rankscore', 'PROVEAN_pred', 'VEST3_score',
       'VEST3_rankscore', 'MetaSVM_score', 'MetaSVM_rankscore',
       'MetaSVM_pred', 'MetaLR_score', 'MetaLR_rankscore', 'MetaLR_pred',
       'M-CAP_score', 'M-CAP_rankscore', 'M-CAP_pred', 'CADD_raw',
       'CADD_raw_rankscore', 'CADD_phred', 'DANN_score', 'DANN_rankscore',
       'fathmm-MKL_coding_score', 'fathmm-MKL_coding_rankscore',
       'fathmm-MKL_coding_pred', 'Eigen_coding_or_noncoding', 'Eigen-raw',
       'Eigen-PC-raw', 'GenoCanyon_score', 'GenoCanyon_score_rankscore',
       'integrated_fitCons_score', 'integrated_fitCons_score_rankscore',
       'integrated_confidence_value', 'GERP++_RS', 'GERP++_RS_rankscore',
       'phyloP100way_vertebrate', 'phyloP100way_vertebrate_rankscore',
       'phyloP20way_mammalian', 'phyloP20way_mammalian_rankscore',
       'phastCons100way_vertebrate',
       'phastCons100way_vertebrate_rankscore', 'phastCons20way_mammalian',
       'phastCons20way_mammalian_rankscore', 'SiPhy_29way_logOdds',
       'SiPhy_29way_logOdds_rankscore', 'Interpro_domain', 'GTEx_V6_gene',
       'GTEx_V6_tissue', 'snp138', 'segdup', 'mce46way', 'cosmic70',
       'nci60', 'avsnp150', 'AF', 'AF_popmax', 'AF_male', 'AF_female',
       'AF_raw', 'AF_afr', 'AF_sas', 'AF_amr', 'AF_eas', 'AF_nfe',
       'AF_fin', 'AF_asj', 'AF_oth', 'non_topmed_AF_popmax',
       'non_neuro_AF_popmax', 'non_cancer_AF_popmax',
       'controls_AF_popmax', 'AF.1', 'AF_popmax.1', 'AF_male.1',
       'AF_female.1', 'AF_raw.1', 'AF_afr.1', 'AF_sas.1', 'AF_amr.1',
       'AF_eas.1', 'AF_nfe.1', 'AF_fin.1', 'AF_asj.1', 'AF_oth.1',
       'non_topmed_AF_popmax.1', 'non_neuro_AF_popmax.1',
       'non_cancer_AF_popmax.1', 'controls_AF_popmax.1',
       'InterVar(automated)', 'PVS1', 'PS1', 'PS2', 'PS3', 'PS4', 'PM1',
       'PM2', 'PM3', 'PM4', 'PM5', 'PM6', 'PP1', 'PP2', 'PP3', 'PP4',
       'PP5', 'BA1', 'BS1', 'BS2', 'BS3', 'BS4', 'BP1', 'BP2', 'BP3',
       'BP4', 'BP5', 'BP6', 'BP7', 'bed', 'bed2',
       'HIAE_EXOME_FREQUENCY(722)', 'HIAE_EXOME_OCCURRENCES(722)',
       'Otherinfo', 'VCF_QUAL_1', 'VCF_DP', 'VCF_CHR', 'VCF_POS',
       'VCF_ID', 'VCF_REF', 'VCF_ALT', 'VCF_QUAL_2', 'VCF_FILTER',
       'VCF_INFO', 'VCF_FORMAT', 'VCF_SAMPLE_NAME'], dtype=object)

* Se você quer visualizar dados de uma determinada coluna, existem duas formas de fazer isso, onde é retorna uma `Series`:

In [23]:
multianno_df.Chr

0     chr10
1     chr10
2     chr10
3     chr10
4     chr10
      ...
87    chr17
88    chr19
89    chr19
90    chr19
91    chr19
Name: Chr, Length: 92, dtype: object

In [24]:
multianno_df["Chr"]

0     chr10
1     chr10
2     chr10
3     chr10
4     chr10
      ...
87    chr17
88    chr19
89    chr19
90    chr19
91    chr19
Name: Chr, Length: 92, dtype: object

In [25]:
type(multianno_df["Chr"])

pandas.core.series.Series

* É mais indicado selecionar uma coluna usando aspas já que houver algum caracter estranho no nome da coluna ele dará erro na seleção;
* Para selecionar múltiplas colunas basta criar uma lista contendo as colunas que você quer visualizar.

In [26]:
col_list = ['Chr', 'Start', 'End']
multianno_df[col_list]

      Chr     Start       End
0   chr10  89622938  89622938
1   chr10  89623142  89623142
2   chr10  89623861  89623861
3   chr10  89623901  89623901
4   chr10  89654121  89654121
..    ...       ...       ...
87  chr17  41258136  41258136
88  chr19   1206797   1206797
89  chr19   1219444   1219444
90  chr19   1219451   1219451
91  chr19   1221418   1221418

[92 rows x 3 columns]

In [27]:
multianno_df[['Chr', 'Start', 'End']]

      Chr     Start       End
0   chr10  89622938  89622938
1   chr10  89623142  89623142
2   chr10  89623861  89623861
3   chr10  89623901  89623901
4   chr10  89654121  89654121
..    ...       ...       ...
87  chr17  41258136  41258136
88  chr19   1206797   1206797
89  chr19   1219444   1219444
90  chr19   1219451   1219451
91  chr19   1221418   1221418

[92 rows x 3 columns]

* Algumas funções de estatísticas básicas podem ser calculadas nas colunas como `max()`, `min()`, `mean()`, `median()`

In [28]:
# Substituir "." por "0"
multianno_df["HIAE_EXOME_FREQUENCY(722)"] = multianno_df["HIAE_EXOME_FREQUENCY(722)"].apply(
    lambda x: "0" if x == "." else x)
# Deixar 3 casas decimais
multianno_df["HIAE_EXOME_FREQUENCY(722)"] = multianno_df["HIAE_EXOME_FREQUENCY(722)"].astype(float).round(3)
multianno_df["HIAE_EXOME_FREQUENCY(722)"].head()

0    0.000
1    0.003
2    0.339
3    0.350
4    0.001
Name: HIAE_EXOME_FREQUENCY(722), dtype: float64

In [29]:
multianno_df["HIAE_EXOME_FREQUENCY(722)"].min()

0.0

In [30]:
multianno_df["HIAE_EXOME_FREQUENCY(722)"].max()

0.938

In [31]:
multianno_df["HIAE_EXOME_FREQUENCY(722)"].mean()

0.2149130434782609

In [32]:
multianno_df["HIAE_EXOME_FREQUENCY(722)"].median()

0.074

In [33]:
multianno_df["HIAE_EXOME_FREQUENCY(722)"].describe()

count    92.000000
mean      0.214913
std       0.294639
min       0.000000
25%       0.001000
50%       0.074000
75%       0.350500
max       0.938000
Name: HIAE_EXOME_FREQUENCY(722), dtype: float64

* Para a contagem de valores em uma coluna, podemos usar a função `value_counts()`

In [34]:
multianno_df["CLNSIG"].value_counts()

.                                               47
Benign                                          37
Likely_benign                                    3
Conflicting_interpretations_of_pathogenicity     2
Pathogenic                                       1
Uncertain_significance                           1
drug_response                                    1
Name: CLNSIG, dtype: int64

* Mais operações em colunas únicas (`Series`) podem ser vistas [aqui](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html)

### Escrevendo CSV, Excel

* Para escrever o `CSV` basta usar a função `to_csv()`, manipulando os parâmetros necessários.

In [35]:
output = multianno_df[["Chr", "Start", "End"]]
output.head()

     Chr     Start       End
0  chr10  89622938  89622938
1  chr10  89623142  89623142
2  chr10  89623861  89623861
3  chr10  89623901  89623901
4  chr10  89654121  89654121

In [36]:
output.to_csv('multianno_filtrado.csv', index=False)

* Para criar um excel simples é da mesma forma, mas dessa vez usando a função `to_excel()` e seus parâmetros.

> Aqui é preciso ter a biblioteca `Openpyxl` instalada.

In [37]:
output.to_excel('multianno_filtrado.xlsx', sheet_name="bed", index=False)

* Mas se você quer ir além disso e criar um arquivo excel com diferentes abas, por exemplo usando 2 `DataFrames` cada um com sua aba:

In [38]:
df1 = multianno_df.head(15)
df1

,Chr,Start,End,Ref,Alt,Func.refGene,Gene.refGene,GeneDetail.refGene,ExonicFunc.refGene,AAChange.refGene,...,VCF_CHR,VCF_POS,VCF_ID,VCF_REF,VCF_ALT,VCF_QUAL_2,VCF_FILTER,VCF_INFO,VCF_FORMAT,VCF_SAMPLE_NAME
0,chr10,89622938,89622938,A,C,UTR5,KLLN,NM_001126049:c.-694T>G,.,.,...,chr10,89622938,.,A,C,290.77,.,ABHet=0.696;AC=1;AF=0.5;AN=2;BaseQRankSum=-10....,GT:AD:DP:GQ:PL,"0/1:1266,552:1820:99:319,0,12285"
1,chr10,89623142,89623142,C,T,UTR5,KLLN,NM_001126049:c.-898G>A,.,.,...,chr10,89623142,.,C,T,7963.77,.,ABHet=0.534;AC=1;AF=0.5;AN=2;BaseQRankSum=-0.7...,GT:AD:DP:GQ:PL,"0/1:306,267:574:99:7992,0,9864"
2,chr10,89623861,89623861,T,-,splicing,PTEN,NM_001304717:exon1:c.154+1T>-;NM_001304717:exo...,.,.,...,chr10,89623860,rs71022512,CT,C,234.80,.,AC=2;AF=1;AN=2;DB;DP=7;ExcessHet=3.0103;FS=0;M...,GT:AD:DP:GQ:PL,"1/1:0,6:7:18:272,18,0"
3,chr10,89623901,89623901,G,C,exonic,PTEN,.,nonsynonymous SNV,PTEN:NM_001304717:exon2:c.194G>C:p.C65S,...,chr10,89623901,rs2943772,G,C,440.77,.,ABHom=1;AC=2;AF=1;AN=2;DB;DP=14;Dels=0;ExcessH...,GT:AD:DP:GQ:PL,"1/1:0,14:14:36:469,36,0"
4,chr10,89654121,89654121,T,C,intronic,PTEN,.,.,.,...,chr10,89654121,rs139651072,T,C,216.77,.,ABHet=0.556;AC=1;AF=0.5;AN=2;BaseQRankSum=0.15...,GT:AD:DP:GQ:PL,"0/1:10,8:18:99:245,0,289"
5,chr10,89654190,89654190,G,A,intronic,PTEN,.,.,.,...,chr10,89654190,rs181780682,G,A,29.77,.,ABHet=0.714;AC=1;AF=0.5;AN=2;BaseQRankSum=0.36...,GT:AD:DP:GQ:PL,"0/1:5,2:7:58:58,0,172"
6,chr10,89711576,89711576,C,T,intronic,PTEN,.,.,.,...,chr10,89711576,rs141005791,C,T,96.77,.,ABHet=0.556;AC=1;AF=0.5;AN=2;BaseQRankSum=0.21...,GT:AD:DP:GQ:PL,"0/1:5,4:9:99:125,0,133"
7,chr10,89718057,89718057,A,G,intronic,PTEN,.,.,.,...,chr10,89718057,.,A,G,759.77,.,ABHet=0.324;AC=1;AF=0.5;AN=2;BaseQRankSum=0.83...,GT:AD:DP:GQ:PL,"0/1:11,23:34:99:788,0,283"
8,chr10,89720548,89720548,A,G,intronic,PTEN,.,.,.,...,chr10,89720548,.,A,G,1491.77,.,ABHet=0.467;AC=1;AF=0.5;AN=2;BaseQRankSum=-0.5...,GT:AD:DP:GQ:PL,"0/1:42,48:90:99:1520,0,1330"
9,chr10,89720634,89720634,T,-,intronic,PTEN,.,.,.,...,chr10,89720633,.,CT,C,1805.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=-0.601;DP=689;Ex...,GT:AD:DP:GQ:PL,"0/1:443,192:689:99:1843,0,6330"
10,chr10,89720907,89720907,T,G,intronic,PTEN,.,.,.,...,chr10,89720907,rs555895,T,G,10070.80,.,ABHet=0.555;AC=1;AF=0.5;AN=2;BaseQRankSum=6.08...,GT:AD:DP:GQ:PL,"0/1:397,318:717:99:10099,0,11475"
11,chr10,89721094,89721094,C,T,intronic,PTEN,.,.,.,...,chr10,89721094,rs2736627,C,T,3289.77,.,ABHom=1;AC=2;AF=1;AN=2;DB;DP=92;Dels=0;ExcessH...,GT:AD:DP:GQ:PL,"1/1:0,92:92:99:3318,259,0"
12,chr10,89725294,89725294,T,-,UTR3,PTEN,NM_001304718:c.*65delT;NM_001304717:c.*65delT;...,.,.,...,chr10,89725293,.,CT,C,9448.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=0.417;DP=2406;Ex...,GT:AD:DP:GQ:PL,"0/1:1610,625:2406:99:9486,0,34365"
13,chr10,89725582,89725582,C,T,UTR3,PTEN,NM_001304718:c.*353C>T;NM_001304717:c.*353C>T;...,.,.,...,chr10,89725582,rs181234898,C,T,201.77,.,ABHet=0.526;AC=1;AF=0.5;AN=2;BaseQRankSum=0.31...,GT:AD:DP:GQ:PL,"0/1:10,9:19:99:230,0,266"
14,chr13,32889968,32889968,G,A,intronic,BRCA2,.,.,.,...,chr13,32889968,rs206119,G,A,3707.77,.,ABHom=1;AC=2;AF=1;AN=2;DB;DP=98;Dels=0;ExcessH...,GT:AD:DP:GQ:PL,"1/1:0,98:98:99:3736,289,0"

In [39]:
df2 = multianno_df.tail(15)
df2

,Chr,Start,End,Ref,Alt,Func.refGene,Gene.refGene,GeneDetail.refGene,ExonicFunc.refGene,AAChange.refGene,...,VCF_CHR,VCF_POS,VCF_ID,VCF_REF,VCF_ALT,VCF_QUAL_2,VCF_FILTER,VCF_INFO,VCF_FORMAT,VCF_SAMPLE_NAME
77,chr17,7579644,7579659,CCCCAGCCCTCCAGGT,-,intronic,TP53,.,.,.,...,chr17,7579643,rs146534833,CCCCCAGCCCTCCAGGT,C,122210.00,.,AC=2;AF=1;AN=2;DB;DP=1405;ExcessHet=3.0103;FS=...,GT:AD:DP:GQ:PL,"1/1:0,924:1405:99:122247,2780,0"
78,chr17,7579801,7579801,G,C,UTR5,TP53,NM_001126118:c.-232C>G,.,.,...,chr17,7579801,rs1642785,G,C,9509.77,.,ABHom=0.651;AC=2;AF=1;AN=2;BaseQRankSum=16.02;...,GT:AD:DP:GQ:PL,"1/1:203,378:582:99:9538,522,0"
79,chr17,7590593,7590593,A,C,intronic,TP53;WRAP53,.,.,.,...,chr17,7590593,.,A,C,87.77,.,ABHet=0.749;AC=1;AF=0.5;AN=2;BaseQRankSum=-0.3...,GT:AD:DP:GQ:PL,"0/1:188,63:251:99:116,0,652"
80,chr17,7590601,7590601,A,C,intronic,TP53;WRAP53,.,.,.,...,chr17,7590601,.,A,C,339.77,.,ABHet=0.585;AC=1;AF=0.5;AN=2;BaseQRankSum=-2.0...,GT:AD:DP:GQ:PL,"0/1:172,122:294:99:368,0,1128"
81,chr17,7590607,7590607,A,C,intronic,TP53;WRAP53,.,.,.,...,chr17,7590607,.,A,C,41.77,.,ABHet=0.704;AC=1;AF=0.5;AN=2;BaseQRankSum=-5.0...,GT:AD:DP:GQ:PL,"0/1:226,95:321:70:70,0,2914"
82,chr17,41196822,41196824,TTT,-,UTR3,BRCA1,NM_007300:c.*873_*871delAAA;NM_007297:c.*873_*...,.,.,...,chr17,41196821,.,CTTT,C,84.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=0.689;ClippingRa...,GT:AD:DP:GQ:MLPSAC:MLPSAF:PL:SAC:SB,"0/1:109,19:128:99:1:0.5:122,0,3145:69,40,12,7:..."
83,chr17,41197940,41197940,T,-,intronic,BRCA1,.,.,.,...,chr17,41197939,.,AT,A,1932.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=3.135;ClippingRa...,GT:AD:DP:GQ:MLPSAC:MLPSAF:PL:SAC:SB,"0/1:60,107:167:99:1:0.5:1970,0,654:2,58,33,74:..."
84,chr17,41247621,41247621,A,-,intronic,BRCA1,.,.,.,...,chr17,41247620,.,CA,C,197.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=-0.097;DP=38;Exc...,GT:AD:DP:GQ:PL,"0/1:24,13:38:99:235,0,434"
85,chr17,41256075,41256075,A,-,intronic,BRCA1,.,.,.,...,chr17,41256074,.,CA,C,932.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=0.364;DP=201;Exc...,GT:AD:DP:GQ:PL,"0/1:128,67:201:99:970,0,2530"
86,chr17,41256088,41256088,A,-,intronic,BRCA1,.,.,.,...,chr17,41256087,.,GA,G,357.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=-0.38;ClippingRa...,GT:AD:DP:GQ:MLPSAC:MLPSAF:PL:SAC:SB,"0/1:83,28:111:99:1:0.5:395,0,2036:83,0,28,0:70..."
87,chr17,41258136,41258136,A,-,intronic,BRCA1,.,.,.,...,chr17,41258135,.,TA,T,203.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=-1.019;DP=69;Exc...,GT:AD:DP:GQ:PL,"0/1:36,24:69:99:241,0,424"
88,chr19,1206797,1206797,T,-,UTR5,STK11,NM_000455:c.-116del-,.,.,...,chr19,1206796,.,CT,C,2222.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=1.767;ClippingRa...,GT:AD:DP:GQ:MLPSAC:MLPSAF:PL:SAC:SB,"0/1:604,172:776:99:1:0.5:2260,0,15656:245,359,..."
89,chr19,1219444,1219444,C,G,intronic,STK11,.,.,.,...,chr19,1219444,.,C,G,672.77,.,ABHet=0.307;AC=1;AF=0.5;AN=2;BaseQRankSum=-1.8...,GT:AD:DP:GQ:PL,"0/1:39,88:127:99:701,0,458"
90,chr19,1219451,1219451,C,G,intronic,STK11,.,.,.,...,chr19,1219451,.,C,G,213.77,.,ABHet=0.654;AC=1;AF=0.5;AN=2;BaseQRankSum=-1.6...,GT:AD:DP:GQ:PL,"0/1:117,62:179:99:242,0,1041"
91,chr19,1221418,1221418,T,G,intronic,STK11,.,.,.,...,chr19,1221418,.,T,G,25.78,.,ABHet=0.417;AC=1;AF=0.5;AN=2;BaseQRankSum=-5.9...,GT:AD:DP:GQ:PL,"0/1:108,151:263:54:54,0,1020"

In [40]:
with pd.ExcelWriter('multianno_filtrado_2abas.xlsx') as writer:
    df1.to_excel(writer, sheet_name="DataFrame1", index=False)
    df2.to_excel(writer, sheet_name="DataFrame2", index=False)



---

# 2. Manipulando `DataFrame`s

### Manipulando índices

* Existem métodos para selecionar linhas e colunas, sendo as mais indicadas `iloc` e `loc`.
* A primeira forma (`iloc`) é baseada na indexação para seleção da posição:

In [41]:
# Selecionando a primeira linha, transformando as colunas em índices de uma Series
multianno_df.iloc[0]

Chr                                                            chr10
Start                                                       89622938
End                                                         89622938
Ref                                                                A
Alt                                                                C
                                         ...
VCF_QUAL_2                                                    290.77
VCF_FILTER                                                         .
VCF_INFO           ABHet=0.696;AC=1;AF=0.5;AN=2;BaseQRankSum=-10....
VCF_FORMAT                                            GT:AD:DP:GQ:PL
VCF_SAMPLE_NAME                     0/1:1266,552:1820:99:319,0,12285
Name: 0, Length: 183, dtype: object

In [42]:
# Selecionando a primeira linha, mas na forma de DataFrame
multianno_df.iloc[[0]]

,Chr,Start,End,Ref,Alt,Func.refGene,Gene.refGene,GeneDetail.refGene,ExonicFunc.refGene,AAChange.refGene,...,VCF_CHR,VCF_POS,VCF_ID,VCF_REF,VCF_ALT,VCF_QUAL_2,VCF_FILTER,VCF_INFO,VCF_FORMAT,VCF_SAMPLE_NAME
0,chr10,89622938,89622938,A,C,UTR5,KLLN,NM_001126049:c.-694T>G,.,.,...,chr10,89622938,.,A,C,290.77,.,ABHet=0.696;AC=1;AF=0.5;AN=2;BaseQRankSum=-10....,GT:AD:DP:GQ:PL,"0/1:1266,552:1820:99:319,0,12285"

In [43]:
# Selecionando as duas primeiras linhas
multianno_df.iloc[[0, 1]]

,Chr,Start,End,Ref,Alt,Func.refGene,Gene.refGene,GeneDetail.refGene,ExonicFunc.refGene,AAChange.refGene,...,VCF_CHR,VCF_POS,VCF_ID,VCF_REF,VCF_ALT,VCF_QUAL_2,VCF_FILTER,VCF_INFO,VCF_FORMAT,VCF_SAMPLE_NAME
0,chr10,89622938,89622938,A,C,UTR5,KLLN,NM_001126049:c.-694T>G,.,.,...,chr10,89622938,.,A,C,290.77,.,ABHet=0.696;AC=1;AF=0.5;AN=2;BaseQRankSum=-10....,GT:AD:DP:GQ:PL,"0/1:1266,552:1820:99:319,0,12285"
1,chr10,89623142,89623142,C,T,UTR5,KLLN,NM_001126049:c.-898G>A,.,.,...,chr10,89623142,.,C,T,7963.77,.,ABHet=0.534;AC=1;AF=0.5;AN=2;BaseQRankSum=-0.7...,GT:AD:DP:GQ:PL,"0/1:306,267:574:99:7992,0,9864"

In [44]:
# Selecionando as duas primeiras linhas usando slicing
multianno_df.iloc[:2]

,Chr,Start,End,Ref,Alt,Func.refGene,Gene.refGene,GeneDetail.refGene,ExonicFunc.refGene,AAChange.refGene,...,VCF_CHR,VCF_POS,VCF_ID,VCF_REF,VCF_ALT,VCF_QUAL_2,VCF_FILTER,VCF_INFO,VCF_FORMAT,VCF_SAMPLE_NAME
0,chr10,89622938,89622938,A,C,UTR5,KLLN,NM_001126049:c.-694T>G,.,.,...,chr10,89622938,.,A,C,290.77,.,ABHet=0.696;AC=1;AF=0.5;AN=2;BaseQRankSum=-10....,GT:AD:DP:GQ:PL,"0/1:1266,552:1820:99:319,0,12285"
1,chr10,89623142,89623142,C,T,UTR5,KLLN,NM_001126049:c.-898G>A,.,.,...,chr10,89623142,.,C,T,7963.77,.,ABHet=0.534;AC=1;AF=0.5;AN=2;BaseQRankSum=-0.7...,GT:AD:DP:GQ:PL,"0/1:306,267:574:99:7992,0,9864"

In [45]:
# Selecionando linhas especificas a partir de uma lista de booleanos
ex = multianno_df.iloc[:3] # filtro, senao ele pedirá 92 booleanos
ex.iloc[[True, False, True]]

,Chr,Start,End,Ref,Alt,Func.refGene,Gene.refGene,GeneDetail.refGene,ExonicFunc.refGene,AAChange.refGene,...,VCF_CHR,VCF_POS,VCF_ID,VCF_REF,VCF_ALT,VCF_QUAL_2,VCF_FILTER,VCF_INFO,VCF_FORMAT,VCF_SAMPLE_NAME
0,chr10,89622938,89622938,A,C,UTR5,KLLN,NM_001126049:c.-694T>G,.,.,...,chr10,89622938,.,A,C,290.77,.,ABHet=0.696;AC=1;AF=0.5;AN=2;BaseQRankSum=-10....,GT:AD:DP:GQ:PL,"0/1:1266,552:1820:99:319,0,12285"
2,chr10,89623861,89623861,T,-,splicing,PTEN,NM_001304717:exon1:c.154+1T>-;NM_001304717:exo...,.,.,...,chr10,89623860,rs71022512,CT,C,234.80,.,AC=2;AF=1;AN=2;DB;DP=7;ExcessHet=3.0103;FS=0;M...,GT:AD:DP:GQ:PL,"1/1:0,6:7:18:272,18,0"

In [46]:
# Selecionando o valor presente na primeira linha da segunda coluna
multianno_df.iloc[0, 1]

89622938

In [47]:
# Selecionando linhas e colunas por lista de listas
multianno_df.iloc[[0, 2], [1, 3, 4]]

      Start Ref Alt
0  89622938   A   C
2  89623861   T   -

In [48]:
# Selecionando linhas e colunas usando slicing
multianno_df.iloc[1:3, 0:3] # linha 3 não é incluida

     Chr     Start       End
1  chr10  89623142  89623142
2  chr10  89623861  89623861

* Enquanto a segunda (`loc`) é baseada no nome das colunas ou booleanos:

In [49]:
# Como os índices são numericos, a seleção de uma linha fica igual ao iloc
multianno_df.loc[[0]] # nao precisa de dois [[]], foi apenas para resultar em dum DataFrame

,Chr,Start,End,Ref,Alt,Func.refGene,Gene.refGene,GeneDetail.refGene,ExonicFunc.refGene,AAChange.refGene,...,VCF_CHR,VCF_POS,VCF_ID,VCF_REF,VCF_ALT,VCF_QUAL_2,VCF_FILTER,VCF_INFO,VCF_FORMAT,VCF_SAMPLE_NAME
0,chr10,89622938,89622938,A,C,UTR5,KLLN,NM_001126049:c.-694T>G,.,.,...,chr10,89622938,.,A,C,290.77,.,ABHet=0.696;AC=1;AF=0.5;AN=2;BaseQRankSum=-10....,GT:AD:DP:GQ:PL,"0/1:1266,552:1820:99:319,0,12285"

In [50]:
# No caso de um indice personalizado é possível selecionar linhas via loc
ex = multianno_df.set_index('Start')
ex.loc[[89623142]]

,Chr,End,Ref,Alt,Func.refGene,Gene.refGene,GeneDetail.refGene,ExonicFunc.refGene,AAChange.refGene,ABRaOM_HomozygousALT,...,VCF_CHR,VCF_POS,VCF_ID,VCF_REF,VCF_ALT,VCF_QUAL_2,VCF_FILTER,VCF_INFO,VCF_FORMAT,VCF_SAMPLE_NAME
Start,,,,,,,,,,,,,,,,,,,,,
89623142,chr10,89623142,C,T,UTR5,KLLN,NM_001126049:c.-898G>A,.,.,2,...,chr10,89623142,.,C,T,7963.77,.,ABHet=0.534;AC=1;AF=0.5;AN=2;BaseQRankSum=-0.7...,GT:AD:DP:GQ:PL,"0/1:306,267:574:99:7992,0,9864"

In [51]:
# Selecionando duas linhas por listas
ex.loc[[89623142, 89623901]]

,Chr,End,Ref,Alt,Func.refGene,Gene.refGene,GeneDetail.refGene,ExonicFunc.refGene,AAChange.refGene,ABRaOM_HomozygousALT,...,VCF_CHR,VCF_POS,VCF_ID,VCF_REF,VCF_ALT,VCF_QUAL_2,VCF_FILTER,VCF_INFO,VCF_FORMAT,VCF_SAMPLE_NAME
Start,,,,,,,,,,,,,,,,,,,,,
89623142,chr10,89623142,C,T,UTR5,KLLN,NM_001126049:c.-898G>A,.,.,2,...,chr10,89623142,.,C,T,7963.77,.,ABHet=0.534;AC=1;AF=0.5;AN=2;BaseQRankSum=-0.7...,GT:AD:DP:GQ:PL,"0/1:306,267:574:99:7992,0,9864"
89623901,chr10,89623901,G,C,exonic,PTEN,.,nonsynonymous SNV,PTEN:NM_001304717:exon2:c.194G>C:p.C65S,561,...,chr10,89623901,rs2943772,G,C,440.77,.,ABHom=1;AC=2;AF=1;AN=2;DB;DP=14;Dels=0;ExcessH...,GT:AD:DP:GQ:PL,"1/1:0,14:14:36:469,36,0"

In [52]:
# Selecionando o valor de uma linha e coluna especificas
ex.loc[89623901, "Func.refGene"]

'exonic'

In [53]:
# Selecionando linhas de uma coluna via slicing
ex.loc[89623142:89623901, ["End","Func.refGene"]]

               End Func.refGene
Start
89623142  89623142         UTR5
89623861  89623861     splicing
89623901  89623901       exonic

* Para saber quais os valores estao no seu índice use o método `index`

In [54]:
print(multianno_df.index)
print(ex.index)

RangeIndex(start=0, stop=92, step=1)
Int64Index([89622938, 89623142, 89623861, 89623901, 89654121, 89654190,
            89711576, 89718057, 89720548, 89720634, 89720907, 89721094,
            89725294, 89725582, 32889968, 32899567, 32899878, 32905220,
            32905265, 32907536, 32911888, 32912299, 32913055, 32915005,
            32915411, 32915524, 32919637, 32920016, 32920618, 32920844,
            32929058, 32929232, 32929387, 32930373, 32936646, 32950658,
            32951111, 32951115, 32953388, 32954561, 32954692, 32954741,
            32968591, 32968607, 32970736, 32971425, 32973012, 23615043,
            23640160, 68770847, 68771122, 68771372, 68771418, 68771547,
            68772681, 68820717, 68847691, 68847692, 68847694, 68847718,
            68847719, 68847726, 68847727, 68855852, 68856474, 68857141,
            68857792, 68867612,  7576265,  7576443,  7577679,  7578115,
             7578645,  7578712,  7578712,  7578837,  7579472,  7579644,
             7579801,  7590593,  7590601,  7590607, 41196822, 41197940,
            41247621, 41256075, 41256088, 41258136,  1206797,  1219444,
             1219451,  1221418],
           dtype='int64', name='Start')

In [55]:
# Resetando o index
ex.reset_index()

,Start,Chr,End,Ref,Alt,Func.refGene,Gene.refGene,GeneDetail.refGene,ExonicFunc.refGene,AAChange.refGene,...,VCF_CHR,VCF_POS,VCF_ID,VCF_REF,VCF_ALT,VCF_QUAL_2,VCF_FILTER,VCF_INFO,VCF_FORMAT,VCF_SAMPLE_NAME
0,89622938,chr10,89622938,A,C,UTR5,KLLN,NM_001126049:c.-694T>G,.,.,...,chr10,89622938,.,A,C,290.77,.,ABHet=0.696;AC=1;AF=0.5;AN=2;BaseQRankSum=-10....,GT:AD:DP:GQ:PL,"0/1:1266,552:1820:99:319,0,12285"
1,89623142,chr10,89623142,C,T,UTR5,KLLN,NM_001126049:c.-898G>A,.,.,...,chr10,89623142,.,C,T,7963.77,.,ABHet=0.534;AC=1;AF=0.5;AN=2;BaseQRankSum=-0.7...,GT:AD:DP:GQ:PL,"0/1:306,267:574:99:7992,0,9864"
2,89623861,chr10,89623861,T,-,splicing,PTEN,NM_001304717:exon1:c.154+1T>-;NM_001304717:exo...,.,.,...,chr10,89623860,rs71022512,CT,C,234.80,.,AC=2;AF=1;AN=2;DB;DP=7;ExcessHet=3.0103;FS=0;M...,GT:AD:DP:GQ:PL,"1/1:0,6:7:18:272,18,0"
3,89623901,chr10,89623901,G,C,exonic,PTEN,.,nonsynonymous SNV,PTEN:NM_001304717:exon2:c.194G>C:p.C65S,...,chr10,89623901,rs2943772,G,C,440.77,.,ABHom=1;AC=2;AF=1;AN=2;DB;DP=14;Dels=0;ExcessH...,GT:AD:DP:GQ:PL,"1/1:0,14:14:36:469,36,0"
4,89654121,chr10,89654121,T,C,intronic,PTEN,.,.,.,...,chr10,89654121,rs139651072,T,C,216.77,.,ABHet=0.556;AC=1;AF=0.5;AN=2;BaseQRankSum=0.15...,GT:AD:DP:GQ:PL,"0/1:10,8:18:99:245,0,289"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,41258136,chr17,41258136,A,-,intronic,BRCA1,.,.,.,...,chr17,41258135,.,TA,T,203.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=-1.019;DP=69;Exc...,GT:AD:DP:GQ:PL,"0/1:36,24:69:99:241,0,424"
88,1206797,chr19,1206797,T,-,UTR5,STK11,NM_000455:c.-116del-,.,.,...,chr19,1206796,.,CT,C,2222.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=1.767;ClippingRa...,GT:AD:DP:GQ:MLPSAC:MLPSAF:PL:SAC:SB,"0/1:604,172:776:99:1:0.5:2260,0,15656:245,359,..."
89,1219444,chr19,1219444,C,G,intronic,STK11,.,.,.,...,chr19,1219444,.,C,G,672.77,.,ABHet=0.307;AC=1;AF=0.5;AN=2;BaseQRankSum=-1.8...,GT:AD:DP:GQ:PL,"0/1:39,88:127:99:701,0,458"
90,1219451,chr19,1219451,C,G,intronic,STK11,.,.,.,...,chr19,1219451,.,C,G,213.77,.,ABHet=0.654;AC=1;AF=0.5;AN=2;BaseQRankSum=-1.6...,GT:AD:DP:GQ:PL,"0/1:117,62:179:99:242,0,1041"
91,1221418,chr19,1221418,T,G,intronic,STK11,.,.,.,...,chr19,1221418,.,T,G,25.78,.,ABHet=0.417;AC=1;AF=0.5;AN=2;BaseQRankSum=-5.9...,GT:AD:DP:GQ:PL,"0/1:108,151:263:54:54,0,1020"

In [56]:
df2.reset_index(drop=True)

,Chr,Start,End,Ref,Alt,Func.refGene,Gene.refGene,GeneDetail.refGene,ExonicFunc.refGene,AAChange.refGene,...,VCF_CHR,VCF_POS,VCF_ID,VCF_REF,VCF_ALT,VCF_QUAL_2,VCF_FILTER,VCF_INFO,VCF_FORMAT,VCF_SAMPLE_NAME
0,chr17,7579644,7579659,CCCCAGCCCTCCAGGT,-,intronic,TP53,.,.,.,...,chr17,7579643,rs146534833,CCCCCAGCCCTCCAGGT,C,122210.00,.,AC=2;AF=1;AN=2;DB;DP=1405;ExcessHet=3.0103;FS=...,GT:AD:DP:GQ:PL,"1/1:0,924:1405:99:122247,2780,0"
1,chr17,7579801,7579801,G,C,UTR5,TP53,NM_001126118:c.-232C>G,.,.,...,chr17,7579801,rs1642785,G,C,9509.77,.,ABHom=0.651;AC=2;AF=1;AN=2;BaseQRankSum=16.02;...,GT:AD:DP:GQ:PL,"1/1:203,378:582:99:9538,522,0"
2,chr17,7590593,7590593,A,C,intronic,TP53;WRAP53,.,.,.,...,chr17,7590593,.,A,C,87.77,.,ABHet=0.749;AC=1;AF=0.5;AN=2;BaseQRankSum=-0.3...,GT:AD:DP:GQ:PL,"0/1:188,63:251:99:116,0,652"
3,chr17,7590601,7590601,A,C,intronic,TP53;WRAP53,.,.,.,...,chr17,7590601,.,A,C,339.77,.,ABHet=0.585;AC=1;AF=0.5;AN=2;BaseQRankSum=-2.0...,GT:AD:DP:GQ:PL,"0/1:172,122:294:99:368,0,1128"
4,chr17,7590607,7590607,A,C,intronic,TP53;WRAP53,.,.,.,...,chr17,7590607,.,A,C,41.77,.,ABHet=0.704;AC=1;AF=0.5;AN=2;BaseQRankSum=-5.0...,GT:AD:DP:GQ:PL,"0/1:226,95:321:70:70,0,2914"
5,chr17,41196822,41196824,TTT,-,UTR3,BRCA1,NM_007300:c.*873_*871delAAA;NM_007297:c.*873_*...,.,.,...,chr17,41196821,.,CTTT,C,84.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=0.689;ClippingRa...,GT:AD:DP:GQ:MLPSAC:MLPSAF:PL:SAC:SB,"0/1:109,19:128:99:1:0.5:122,0,3145:69,40,12,7:..."
6,chr17,41197940,41197940,T,-,intronic,BRCA1,.,.,.,...,chr17,41197939,.,AT,A,1932.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=3.135;ClippingRa...,GT:AD:DP:GQ:MLPSAC:MLPSAF:PL:SAC:SB,"0/1:60,107:167:99:1:0.5:1970,0,654:2,58,33,74:..."
7,chr17,41247621,41247621,A,-,intronic,BRCA1,.,.,.,...,chr17,41247620,.,CA,C,197.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=-0.097;DP=38;Exc...,GT:AD:DP:GQ:PL,"0/1:24,13:38:99:235,0,434"
8,chr17,41256075,41256075,A,-,intronic,BRCA1,.,.,.,...,chr17,41256074,.,CA,C,932.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=0.364;DP=201;Exc...,GT:AD:DP:GQ:PL,"0/1:128,67:201:99:970,0,2530"
9,chr17,41256088,41256088,A,-,intronic,BRCA1,.,.,.,...,chr17,41256087,.,GA,G,357.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=-0.38;ClippingRa...,GT:AD:DP:GQ:MLPSAC:MLPSAF:PL:SAC:SB,"0/1:83,28:111:99:1:0.5:395,0,2036:83,0,28,0:70..."
10,chr17,41258136,41258136,A,-,intronic,BRCA1,.,.,.,...,chr17,41258135,.,TA,T,203.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=-1.019;DP=69;Exc...,GT:AD:DP:GQ:PL,"0/1:36,24:69:99:241,0,424"
11,chr19,1206797,1206797,T,-,UTR5,STK11,NM_000455:c.-116del-,.,.,...,chr19,1206796,.,CT,C,2222.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=1.767;ClippingRa...,GT:AD:DP:GQ:MLPSAC:MLPSAF:PL:SAC:SB,"0/1:604,172:776:99:1:0.5:2260,0,15656:245,359,..."
12,chr19,1219444,1219444,C,G,intronic,STK11,.,.,.,...,chr19,1219444,.,C,G,672.77,.,ABHet=0.307;AC=1;AF=0.5;AN=2;BaseQRankSum=-1.8...,GT:AD:DP:GQ:PL,"0/1:39,88:127:99:701,0,458"
13,chr19,1219451,1219451,C,G,intronic,STK11,.,.,.,...,chr19,1219451,.,C,G,213.77,.,ABHet=0.654;AC=1;AF=0.5;AN=2;BaseQRankSum=-1.6...,GT:AD:DP:GQ:PL,"0/1:117,62:179:99:242,0,1041"
14,chr19,1221418,1221418,T,G,intronic,STK11,.,.,.,...,chr19,1221418,.,T,G,25.78,.,ABHet=0.417;AC=1;AF=0.5;AN=2;BaseQRankSum=-5.9...,GT:AD:DP:GQ:PL,"0/1:108,151:263:54:54,0,1020"

# Filtrando um `DataFrame`

* É possível filtrar um `DataFrame` maior em um `DataFrame` menor. Por exemplo, se eu quisesse visualizar apenas as variantes no cromossomo 10:

In [61]:
str_filter = multianno_df['Chr'] == "chr10"
str_filter

0      True
1      True
2      True
3      True
4      True
      ...
87    False
88    False
89    False
90    False
91    False
Name: Chr, Length: 92, dtype: bool

In [62]:
multianno_df[str_filter]

,Chr,Start,End,Ref,Alt,Func.refGene,Gene.refGene,GeneDetail.refGene,ExonicFunc.refGene,AAChange.refGene,...,VCF_CHR,VCF_POS,VCF_ID,VCF_REF,VCF_ALT,VCF_QUAL_2,VCF_FILTER,VCF_INFO,VCF_FORMAT,VCF_SAMPLE_NAME
0,chr10,89622938,89622938,A,C,UTR5,KLLN,NM_001126049:c.-694T>G,.,.,...,chr10,89622938,.,A,C,290.77,.,ABHet=0.696;AC=1;AF=0.5;AN=2;BaseQRankSum=-10....,GT:AD:DP:GQ:PL,"0/1:1266,552:1820:99:319,0,12285"
1,chr10,89623142,89623142,C,T,UTR5,KLLN,NM_001126049:c.-898G>A,.,.,...,chr10,89623142,.,C,T,7963.77,.,ABHet=0.534;AC=1;AF=0.5;AN=2;BaseQRankSum=-0.7...,GT:AD:DP:GQ:PL,"0/1:306,267:574:99:7992,0,9864"
2,chr10,89623861,89623861,T,-,splicing,PTEN,NM_001304717:exon1:c.154+1T>-;NM_001304717:exo...,.,.,...,chr10,89623860,rs71022512,CT,C,234.80,.,AC=2;AF=1;AN=2;DB;DP=7;ExcessHet=3.0103;FS=0;M...,GT:AD:DP:GQ:PL,"1/1:0,6:7:18:272,18,0"
3,chr10,89623901,89623901,G,C,exonic,PTEN,.,nonsynonymous SNV,PTEN:NM_001304717:exon2:c.194G>C:p.C65S,...,chr10,89623901,rs2943772,G,C,440.77,.,ABHom=1;AC=2;AF=1;AN=2;DB;DP=14;Dels=0;ExcessH...,GT:AD:DP:GQ:PL,"1/1:0,14:14:36:469,36,0"
4,chr10,89654121,89654121,T,C,intronic,PTEN,.,.,.,...,chr10,89654121,rs139651072,T,C,216.77,.,ABHet=0.556;AC=1;AF=0.5;AN=2;BaseQRankSum=0.15...,GT:AD:DP:GQ:PL,"0/1:10,8:18:99:245,0,289"
5,chr10,89654190,89654190,G,A,intronic,PTEN,.,.,.,...,chr10,89654190,rs181780682,G,A,29.77,.,ABHet=0.714;AC=1;AF=0.5;AN=2;BaseQRankSum=0.36...,GT:AD:DP:GQ:PL,"0/1:5,2:7:58:58,0,172"
6,chr10,89711576,89711576,C,T,intronic,PTEN,.,.,.,...,chr10,89711576,rs141005791,C,T,96.77,.,ABHet=0.556;AC=1;AF=0.5;AN=2;BaseQRankSum=0.21...,GT:AD:DP:GQ:PL,"0/1:5,4:9:99:125,0,133"
7,chr10,89718057,89718057,A,G,intronic,PTEN,.,.,.,...,chr10,89718057,.,A,G,759.77,.,ABHet=0.324;AC=1;AF=0.5;AN=2;BaseQRankSum=0.83...,GT:AD:DP:GQ:PL,"0/1:11,23:34:99:788,0,283"
8,chr10,89720548,89720548,A,G,intronic,PTEN,.,.,.,...,chr10,89720548,.,A,G,1491.77,.,ABHet=0.467;AC=1;AF=0.5;AN=2;BaseQRankSum=-0.5...,GT:AD:DP:GQ:PL,"0/1:42,48:90:99:1520,0,1330"
9,chr10,89720634,89720634,T,-,intronic,PTEN,.,.,.,...,chr10,89720633,.,CT,C,1805.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=-0.601;DP=689;Ex...,GT:AD:DP:GQ:PL,"0/1:443,192:689:99:1843,0,6330"
10,chr10,89720907,89720907,T,G,intronic,PTEN,.,.,.,...,chr10,89720907,rs555895,T,G,10070.80,.,ABHet=0.555;AC=1;AF=0.5;AN=2;BaseQRankSum=6.08...,GT:AD:DP:GQ:PL,"0/1:397,318:717:99:10099,0,11475"
11,chr10,89721094,89721094,C,T,intronic,PTEN,.,.,.,...,chr10,89721094,rs2736627,C,T,3289.77,.,ABHom=1;AC=2;AF=1;AN=2;DB;DP=92;Dels=0;ExcessH...,GT:AD:DP:GQ:PL,"1/1:0,92:92:99:3318,259,0"
12,chr10,89725294,89725294,T,-,UTR3,PTEN,NM_001304718:c.*65delT;NM_001304717:c.*65delT;...,.,.,...,chr10,89725293,.,CT,C,9448.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=0.417;DP=2406;Ex...,GT:AD:DP:GQ:PL,"0/1:1610,625:2406:99:9486,0,34365"
13,chr10,89725582,89725582,C,T,UTR3,PTEN,NM_001304718:c.*353C>T;NM_001304717:c.*353C>T;...,.,.,...,chr10,89725582,rs181234898,C,T,201.77,.,ABHet=0.526;AC=1;AF=0.5;AN=2;BaseQRankSum=0.31...,GT:AD:DP:GQ:PL,"0/1:10,9:19:99:230,0,266"

* Se por acaso eu quisesse criar um `DataFrame` com variantes extremamente raras nesse paciente?

In [75]:
str_filter = multianno_df["HIAE_EXOME_FREQUENCY(722)"] < 0.05
multianno_df[str_filter]

,Chr,Start,End,Ref,Alt,Func.refGene,Gene.refGene,GeneDetail.refGene,ExonicFunc.refGene,AAChange.refGene,...,VCF_CHR,VCF_POS,VCF_ID,VCF_REF,VCF_ALT,VCF_QUAL_2,VCF_FILTER,VCF_INFO,VCF_FORMAT,VCF_SAMPLE_NAME
0,chr10,89622938,89622938,A,C,UTR5,KLLN,NM_001126049:c.-694T>G,.,.,...,chr10,89622938,.,A,C,290.77,.,ABHet=0.696;AC=1;AF=0.5;AN=2;BaseQRankSum=-10....,GT:AD:DP:GQ:PL,"0/1:1266,552:1820:99:319,0,12285"
1,chr10,89623142,89623142,C,T,UTR5,KLLN,NM_001126049:c.-898G>A,.,.,...,chr10,89623142,.,C,T,7963.77,.,ABHet=0.534;AC=1;AF=0.5;AN=2;BaseQRankSum=-0.7...,GT:AD:DP:GQ:PL,"0/1:306,267:574:99:7992,0,9864"
4,chr10,89654121,89654121,T,C,intronic,PTEN,.,.,.,...,chr10,89654121,rs139651072,T,C,216.77,.,ABHet=0.556;AC=1;AF=0.5;AN=2;BaseQRankSum=0.15...,GT:AD:DP:GQ:PL,"0/1:10,8:18:99:245,0,289"
5,chr10,89654190,89654190,G,A,intronic,PTEN,.,.,.,...,chr10,89654190,rs181780682,G,A,29.77,.,ABHet=0.714;AC=1;AF=0.5;AN=2;BaseQRankSum=0.36...,GT:AD:DP:GQ:PL,"0/1:5,2:7:58:58,0,172"
6,chr10,89711576,89711576,C,T,intronic,PTEN,.,.,.,...,chr10,89711576,rs141005791,C,T,96.77,.,ABHet=0.556;AC=1;AF=0.5;AN=2;BaseQRankSum=0.21...,GT:AD:DP:GQ:PL,"0/1:5,4:9:99:125,0,133"
7,chr10,89718057,89718057,A,G,intronic,PTEN,.,.,.,...,chr10,89718057,.,A,G,759.77,.,ABHet=0.324;AC=1;AF=0.5;AN=2;BaseQRankSum=0.83...,GT:AD:DP:GQ:PL,"0/1:11,23:34:99:788,0,283"
8,chr10,89720548,89720548,A,G,intronic,PTEN,.,.,.,...,chr10,89720548,.,A,G,1491.77,.,ABHet=0.467;AC=1;AF=0.5;AN=2;BaseQRankSum=-0.5...,GT:AD:DP:GQ:PL,"0/1:42,48:90:99:1520,0,1330"
9,chr10,89720634,89720634,T,-,intronic,PTEN,.,.,.,...,chr10,89720633,.,CT,C,1805.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=-0.601;DP=689;Ex...,GT:AD:DP:GQ:PL,"0/1:443,192:689:99:1843,0,6330"
12,chr10,89725294,89725294,T,-,UTR3,PTEN,NM_001304718:c.*65delT;NM_001304717:c.*65delT;...,.,.,...,chr10,89725293,.,CT,C,9448.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=0.417;DP=2406;Ex...,GT:AD:DP:GQ:PL,"0/1:1610,625:2406:99:9486,0,34365"
13,chr10,89725582,89725582,C,T,UTR3,PTEN,NM_001304718:c.*353C>T;NM_001304717:c.*353C>T;...,.,.,...,chr10,89725582,rs181234898,C,T,201.77,.,ABHet=0.526;AC=1;AF=0.5;AN=2;BaseQRankSum=0.31...,GT:AD:DP:GQ:PL,"0/1:10,9:19:99:230,0,266"
17,chr13,32905220,32905220,T,-,intronic,BRCA2,.,.,.,...,chr13,32905219,.,AT,A,2225.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=4.537;DP=630;Exc...,GT:AD:DP:GQ:PL,"0/1:413,156:630:99:2263,0,8472"
19,chr13,32907536,32907536,T,-,intronic,BRCA2,.,.,.,...,chr13,32907535,.,CT,C,4200.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=3.476;DP=1016;Ex...,GT:AD:DP:GQ:PL,"0/1:669,272:1016:99:4238,0,14585"
30,chr13,32929058,32929059,TC,-,exonic,BRCA2,.,frameshift deletion,BRCA2:NM_000059:exon14:c.7068_7069del:p.F2356fs,...,chr13,32929057,rs80359636,TTC,T,33599.70,.,AC=1;AF=0.5;AN=2;BaseQRankSum=2.352;DB;DP=1613...,GT:AD:DP:GQ:PL,"0/1:853,734:1613:99:33637,0,39748"
33,chr13,32930373,32930373,T,-,intronic,BRCA2,.,.,.,...,chr13,32930372,.,AT,A,119.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=0.879;ClippingRa...,GT:AD:DP:GQ:MLPSAC:MLPSAF:PL:SAC:SB,"0/1:27,10:37:99:1:0.5:157,0,642:27,0,10,0:27,0..."
40,chr13,32954692,32954692,C,T,intronic,BRCA2,.,.,.,...,chr13,32954692,.,C,T,21.80,.,ABHet=0.625;AC=1;AF=0.5;AN=2;BaseQRankSum=-0.2...,GT:AB:AD:DP:GQ:MLPSAC:MLPSAF:PL:SAC:SB,"0/1:0.63:5,3:8:50:1:0.5:50,0,94:0,5,0,3:0,5,0,3"
48,chr16,23640160,23640160,G,T,intronic,PALB2,.,.,.,...,chr16,23640160,.,G,T,35.77,.,ABHet=0.6;AC=1;AF=0.5;AN=2;BaseQRankSum=0;DP=5...,GT:AD:DP:GQ:PL,"0/1:3,2:5:64:64,0,103"
50,chr16,68771122,68771122,A,C,upstream,CDH1,dist=71,.,.,...,chr16,68771122,rs28372783,A,C,18862.80,.,ABHet=0.507;AC=1;AF=0.5;AN=2;BaseQRankSum=11.1...,GT:AD:DP:GQ:PL,"0/1:685,666:1355:99:18891,0,17969"
55,chr16,68820717,68820717,C,A,intronic,CDH1,.,.,.,...,chr16,68820717,rs146972234,C,A,680.77,.,ABHet=0.587;AC=1;AF=0.5;AN=2;BaseQRankSum=-1.4...,GT:AD:DP:GQ:PL,"0/1:37,26:63:99:709,0,1225"
56,chr16,68847691,68847691,C,T,intronic,CDH1,.,.,.,...,chr16,68847691,.,C,T,28.77,.,ABHet=0.818;AC=1;AF=0.5;AN=2;BaseQRankSum=-0.8...,GT:AB:AD:DP:GQ:MLPSAC:MLPSAF:PL:SAC:SB,"0/1:0.82:9,2:11:57:1:0.5:57,0,1646:0,9,0,2:0,9..."
57,chr16,68847692,68847692,A,G,intronic,CDH1,.,.,.,...,chr16,68847692,.,A,G,28.77,.,ABHet=0.818;AC=1;AF=0.5;AN=2;BaseQRankSum=-0.7...,GT:AB:AD:DP:GQ:MLPSAC:MLPSAF:PL:SAC:SB,"0/1:0.82:9,2:11:57:1:0.5:57,0,1646:0,9,0,2:0,9..."
58,chr16,68847694,68847694,G,T,intronic,CDH1,.,.,.,...,chr16,68847694,.,G,T,28.77,.,ABHet=0.818;AC=1;AF=0.5;AN=2;BaseQRankSum=-0.8...,GT:AB:AD:DP:GQ:MLPSAC:MLPSAF:PL:SAC:SB,"0/1:0.82:9,2:11:57:1:0.5:57,0,1646:0,9,0,2:0,9..."
59,chr16,68847718,68847718,T,C,intronic,CDH1,.,.,.,...,chr16,68847718,.,T,C,34.77,.,ABHet=0.778;AC=1;AF=0.5;AN=2;BaseQRankSum=0.03...,GT:AB:AD:DP:GQ:MLPSAC:MLPSAF:PL:SAC:SB,"0/1:0.78:7,2:9:63:1:0.5:63,0,1502:0,7,0,2:0,7,0,2"
60,chr16,68847719,68847719,C,A,intronic,CDH1,.,.,.,...,chr16,68847719,.,C,A,23.79,.,ABHet=0.8;AC=1;AF=0.5;AN=2;BaseQRankSum=0.728;...,GT:AD:DP:GQ:PL,"0/1:8,2:10:52:52,0,233"
61,chr16,68847726,68847726,T,C,intronic,CDH1,.,.,.,...,chr16,68847726,.,T,C,34.77,.,ABHet=0.778;AC=1;AF=0.5;AN=2;BaseQRankSum=-0.4...,GT:AB:AD:DP:GQ:MLPSAC:MLPSAF:PL:SAC:SB,"0/1:0.78:7,2:9:63:1:0.5:63,0,1502:0,7,0,2:0,7,0,2"
62,chr16,68847727,68847727,A,T,intronic,CDH1,.,.,.,...,chr16,68847727,.,A,T,23.79,.,ABHet=0.8;AC=1;AF=0.5;AN=2;BaseQRankSum=0.493;...,GT:AD:DP:GQ:PL,"0/1:8,2:10:52:52,0,245"
63,chr16,68855852,68855852,G,C,intronic,CDH1,.,.,.,...,chr16,68855852,rs34582129,G,C,9012.77,.,ABHet=0.517;AC=1;AF=0.5;AN=2;BaseQRankSum=0.26...,GT:AD:DP:GQ:PL,"0/1:312,292:606:99:9041,0,9787"
64,chr16,68856474,68856474,T,C,intronic,CDH1,.,.,.,...,chr16,68856474,.,T,C,38.77,.,ABHet=0.6;AC=1;AF=0.5;AN=2;BaseQRankSum=0.524;...,GT:AD:DP:GQ:PL,"0/1:3,2:5:67:67,0,67"
66,chr16,68857792,68857792,A,G,intronic,CDH1,.,.,.,...,chr16,68857792,.,A,G,22.79,.,ABHet=0.75;AC=1;AF=0.5;AN=2;BaseQRankSum=-0.67...,GT:AD:DP:GQ:PL,"0/1:6,2:8:51:51,0,209"
67,chr16,68867612,68867612,T,-,UTR3,CDH1,NM_004360:c.*210delT;NM_001317186:c.*210delT;N...,.,.,...,chr16,68867611,.,CT,C,986.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=1.16;DP=270;Exce...,GT:AD:DP:GQ:PL,"0/1:161,71:270:99:1024,0,3177"
68,chr17,7576265,7576265,A,-,intronic,TP53,.,.,.,...,chr17,7576264,.,TA,T,105.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=0.354;DP=29;Exce...,GT:AD:DP:GQ:PL,"0/1:20,9:29:99:143,0,380"
69,chr17,7576443,7576443,-,AA,intronic,TP53,.,.,.,...,chr17,7576443,.,C,CAA,605.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=-1.367;ClippingR...,GT:AD:DP:GQ:MLPSAC:MLPSAF:PL:SAC:SB,"0/1:11,24:35:99:1:0.5:566,0,111:11,0,24,0:10,0..."
73,chr17,7578712,7578715,TTTT,-,UTR5,TP53,NM_001276697:c.-260_-263delAAAA;NM_001276698:c...,.,.,...,chr17,7578711,.,CTTTT,C,78271.70,.,AC=1;AF=0.5;AN=2;BaseQRankSum=-0.215;DP=2426;E...,GT:AD:DP:GQ:PL,"1/.:152,1138:2426:99:78309,15975,16093"
79,chr17,7590593,7590593,A,C,intronic,TP53;WRAP53,.,.,.,...,chr17,7590593,.,A,C,87.77,.,ABHet=0.749;AC=1;AF=0.5;AN=2;BaseQRankSum=-0.3...,GT:AD:DP:GQ:PL,"0/1:188,63:251:99:116,0,652"
80,chr17,7590601,7590601,A,C,intronic,TP53;WRAP53,.,.,.,...,chr17,7590601,.,A,C,339.77,.,ABHet=0.585;AC=1;AF=0.5;AN=2;BaseQRankSum=-2.0...,GT:AD:DP:GQ:PL,"0/1:172,122:294:99:368,0,1128"
81,chr17,7590607,7590607,A,C,intronic,TP53;WRAP53,.,.,.,...,chr17,7590607,.,A,C,41.77,.,ABHet=0.704;AC=1;AF=0.5;AN=2;BaseQRankSum=-5.0...,GT:AD:DP:GQ:PL,"0/1:226,95:321:70:70,0,2914"
82,chr17,41196822,41196824,TTT,-,UTR3,BRCA1,NM_007300:c.*873_*871delAAA;NM_007297:c.*873_*...,.,.,...,chr17,41196821,.,CTTT,C,84.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=0.689;ClippingRa...,GT:AD:DP:GQ:MLPSAC:MLPSAF:PL:SAC:SB,"0/1:109,19:128:99:1:0.5:122,0,3145:69,40,12,7:..."
84,chr17,41247621,41247621,A,-,intronic,BRCA1,.,.,.,...,chr17,41247620,.,CA,C,197.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=-0.097;DP=38;Exc...,GT:AD:DP:GQ:PL,"0/1:24,13:38:99:235,0,434"
86,chr17,41256088,41256088,A,-,intronic,BRCA1,.,.,.,...,chr17,41256087,.,GA,G,357.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=-0.38;ClippingRa...,GT:AD:DP:GQ:MLPSAC:MLPSAF:PL:SAC:SB,"0/1:83,28:111:99:1:0.5:395,0,2036:83,0,28,0:70..."
87,chr17,41258136,41258136,A,-,intronic,BRCA1,.,.,.,...,chr17,41258135,.,TA,T,203.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=-1.019;DP=69;Exc...,GT:AD:DP:GQ:PL,"0/1:36,24:69:99:241,0,424"
88,chr19,1206797,1206797,T,-,UTR5,STK11,NM_000455:c.-116del-,.,.,...,chr19,1206796,.,CT,C,2222.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=1.767;ClippingRa...,GT:AD:DP:GQ:MLPSAC:MLPSAF:PL:SAC:SB,"0/1:604,172:776:99:1:0.5:2260,0,15656:245,359,..."
89,chr19,1219444,1219444,C,G,intronic,STK11,.,.,.,...,chr19,1219444,.,C,G,672.77,.,ABHet=0.307;AC=1;AF=0.5;AN=2;BaseQRankSum=-1.8...,GT:AD:DP:GQ:PL,"0/1:39,88:127:99:701,0,458"
90,chr19,1219451,1219451,C,G,intronic,STK11,.,.,.,...,chr19,1219451,.,C,G,213.77,.,ABHet=0.654;AC=1;AF=0.5;AN=2;BaseQRankSum=-1.6...,GT:AD:DP:GQ:PL,"0/1:117,62:179:99:242,0,1041"

* Vamos olhar pros genes agora

In [69]:
# Quais os possíveis genes com variantes nesse paciente?
multianno_df['Gene.refGene'].unique()

array(['KLLN', 'PTEN', 'BRCA2', 'PALB2', 'CDH1', 'TP53', 'TP53;WRAP53',
       'BRCA1', 'STK11'], dtype=object)

In [64]:
# Filtrar as variantes em um gene específico
str_filter = multianno_df['Gene.refGene'] == "BRCA2"
multianno_df[str_filter]

,Chr,Start,End,Ref,Alt,Func.refGene,Gene.refGene,GeneDetail.refGene,ExonicFunc.refGene,AAChange.refGene,...,VCF_CHR,VCF_POS,VCF_ID,VCF_REF,VCF_ALT,VCF_QUAL_2,VCF_FILTER,VCF_INFO,VCF_FORMAT,VCF_SAMPLE_NAME
14,chr13,32889968,32889968,G,A,intronic,BRCA2,.,.,.,...,chr13,32889968,rs206119,G,A,3707.77,.,ABHom=1;AC=2;AF=1;AN=2;DB;DP=98;Dels=0;ExcessH...,GT:AD:DP:GQ:PL,"1/1:0,98:98:99:3736,289,0"
15,chr13,32899567,32899567,G,C,intronic,BRCA2,.,.,.,...,chr13,32899567,rs11571613,G,C,634.77,.,ABHet=0.286;AC=1;AF=0.5;AN=2;BaseQRankSum=0.96...,GT:AD:DP:GQ:PL,"0/1:8,20:28:99:663,0,227"
16,chr13,32899878,32899878,C,T,intronic,BRCA2,.,.,.,...,chr13,32899878,rs206071,C,T,633.77,.,ABHom=1;AC=2;AF=1;AN=2;DB;DP=19;Dels=0;ExcessH...,GT:AD:DP:GQ:PL,"1/1:0,19:19:51:662,51,0"
17,chr13,32905220,32905220,T,-,intronic,BRCA2,.,.,.,...,chr13,32905219,.,AT,A,2225.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=4.537;DP=630;Exc...,GT:AD:DP:GQ:PL,"0/1:413,156:630:99:2263,0,8472"
18,chr13,32905265,32905265,G,A,intronic,BRCA2,.,.,.,...,chr13,32905265,rs206073,G,A,14280.80,.,ABHom=0.995;AC=2;AF=1;AN=2;BaseQRankSum=-0.511...,GT:AD:DP:GQ:PL,"1/1:2,388:392:99:14309,1038,0"
19,chr13,32907536,32907536,T,-,intronic,BRCA2,.,.,.,...,chr13,32907535,.,CT,C,4200.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=3.476;DP=1016;Ex...,GT:AD:DP:GQ:PL,"0/1:669,272:1016:99:4238,0,14585"
20,chr13,32911888,32911888,A,G,exonic,BRCA2,.,synonymous SNV,BRCA2:NM_000059:exon11:c.3396A>G:p.K1132K,...,chr13,32911888,rs1801406,A,G,30677.80,.,ABHet=0.511;AC=1;AF=0.5;AN=2;BaseQRankSum=1.67...,GT:AD:DP:GQ:PL,"0/1:1393,1332:2730:99:30706,0,32616"
21,chr13,32912299,32912299,T,C,exonic,BRCA2,.,synonymous SNV,BRCA2:NM_000059:exon11:c.3807T>C:p.V1269V,...,chr13,32912299,rs543304,T,C,35335.80,.,ABHet=0.503;AC=1;AF=0.5;AN=2;BaseQRankSum=-10....,GT:AD:DP:GQ:PL,"0/1:1388,1370:2759:99:35364,0,36070"
22,chr13,32913055,32913055,A,G,exonic,BRCA2,.,synonymous SNV,BRCA2:NM_000059:exon11:c.4563A>G:p.L1521L,...,chr13,32913055,rs206075,A,G,53264.80,.,ABHom=1;AC=2;AF=1;AN=2;DB;DP=2013;Dels=0;Exces...,GT:AD:DP:GQ:PL,"1/1:0,2010:2013:99:53293,3847,0"
23,chr13,32915005,32915005,G,C,exonic,BRCA2,.,synonymous SNV,BRCA2:NM_000059:exon11:c.6513G>C:p.V2171V,...,chr13,32915005,rs206076,G,C,103249.00,.,ABHom=1;AC=2;AF=1;AN=2;DB;DP=3126;Dels=0;Exces...,GT:AD:DP:GQ:PL,"1/1:0,3123:3126:99:103277,7777,0"
24,chr13,32915411,32915414,AATT,-,intronic,BRCA2,.,.,.,...,chr13,32915410,rs11571661,CAATT,C,18957.70,.,AC=1;AF=0.5;AN=2;BaseQRankSum=0.224;DB;DP=651;...,GT:AD:DP:GQ:PL,"0/1:281,299:651:99:18995,0,18017"
25,chr13,32915524,32915524,C,A,intronic,BRCA2,.,.,.,...,chr13,32915524,rs11571662,C,A,1868.77,.,ABHet=0.433;AC=1;AF=0.5;AN=2;BaseQRankSum=1.44...,GT:AD:DP:GQ:PL,"0/1:45,59:105:99:1897,0,1265"
26,chr13,32919637,32919637,T,G,intronic,BRCA2,.,.,.,...,chr13,32919637,rs9567576,T,G,21775.80,.,ABHet=0.497;AC=1;AF=0.5;AN=2;BaseQRankSum=2.43...,GT:AD:DP:GQ:PL,"0/1:1006,1020:2031:99:21804,0,22434"
27,chr13,32920016,32920016,G,A,intronic,BRCA2,.,.,.,...,chr13,32920016,rs206078,G,A,207.84,.,ABHom=1;AC=2;AF=1;AN=2;DB;DP=6;Dels=0;ExcessHe...,GT:AD:DP:GQ:PL,"1/1:0,6:6:18:236,18,0"
28,chr13,32920618,32920618,G,A,intronic,BRCA2,.,.,.,...,chr13,32920618,rs206079,G,A,573.77,.,ABHet=0.429;AC=1;AF=0.5;AN=2;BaseQRankSum=-1.7...,GT:AD:DP:GQ:PL,"0/1:15,20:35:99:602,0,490"
29,chr13,32920844,32920844,T,C,intronic,BRCA2,.,.,.,...,chr13,32920844,rs206080,T,C,23511.80,.,ABHom=1;AC=2;AF=1;AN=2;DB;DP=623;Dels=0;Excess...,GT:AD:DP:GQ:PL,"1/1:0,622:623:99:23540,1833,0"
30,chr13,32929058,32929059,TC,-,exonic,BRCA2,.,frameshift deletion,BRCA2:NM_000059:exon14:c.7068_7069del:p.F2356fs,...,chr13,32929057,rs80359636,TTC,T,33599.70,.,AC=1;AF=0.5;AN=2;BaseQRankSum=2.352;DB;DP=1613...,GT:AD:DP:GQ:PL,"0/1:853,734:1613:99:33637,0,39748"
31,chr13,32929232,32929232,A,G,exonic,BRCA2,.,synonymous SNV,BRCA2:NM_000059:exon14:c.7242A>G:p.S2414S,...,chr13,32929232,rs1799955,A,G,34495.80,.,ABHet=0.443;AC=1;AF=0.5;AN=2;BaseQRankSum=-8.5...,GT:AD:DP:GQ:PL,"0/1:1114,1403:2524:99:34524,0,24892"
32,chr13,32929387,32929387,T,C,exonic,BRCA2,.,nonsynonymous SNV,BRCA2:NM_000059:exon14:c.7397T>C:p.V2466A,...,chr13,32929387,rs169547,T,C,61976.80,.,ABHom=0.999;AC=2;AF=1;AN=2;BaseQRankSum=-1.091...,GT:AD:DP:GQ:PL,"1/1:3,2384:2392:99:62005,4418,0"
33,chr13,32930373,32930373,T,-,intronic,BRCA2,.,.,.,...,chr13,32930372,.,AT,A,119.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=0.879;ClippingRa...,GT:AD:DP:GQ:MLPSAC:MLPSAF:PL:SAC:SB,"0/1:27,10:37:99:1:0.5:157,0,642:27,0,10,0:27,0..."
34,chr13,32936646,32936646,T,C,intronic,BRCA2,.,.,.,...,chr13,32936646,rs9534262,T,C,25543.80,.,ABHet=0.527;AC=1;AF=0.5;AN=2;BaseQRankSum=-9.4...,GT:AD:DP:GQ:PL,"0/1:1179,1058:2247:99:25572,0,30515"
35,chr13,32950658,32950658,-,A,intronic,BRCA2,.,.,.,...,chr13,32950658,.,C,CA,309.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=1.494;DP=85;Exce...,GT:AD:DP:GQ:PL,"0/1:50,29:85:99:347,0,738"
36,chr13,32951111,32951111,A,C,intronic,BRCA2,.,.,.,...,chr13,32951111,rs3764791,A,C,174.77,.,ABHet=0.417;AC=1;AF=0.5;AN=2;BaseQRankSum=-0.1...,GT:AD:DP:GQ:PL,"0/1:5,7:12:99:203,0,160"
37,chr13,32951115,32951115,C,T,intronic,BRCA2,.,.,.,...,chr13,32951115,rs3764792,C,T,65.77,.,ABHet=0.556;AC=1;AF=0.5;AN=2;BaseQRankSum=-0.0...,GT:AD:DP:GQ:PL,"0/1:5,4:9:94:94,0,162"
38,chr13,32953388,32953388,T,C,intronic,BRCA2,.,.,.,...,chr13,32953388,rs4942486,T,C,6767.77,.,ABHet=0.51;AC=1;AF=0.5;AN=2;BaseQRankSum=-0.58...,GT:AD:DP:GQ:PL,"0/1:224,215:440:99:6796,0,7155"
39,chr13,32954561,32954561,G,A,intronic,BRCA2,.,.,.,...,chr13,32954561,rs7328654,G,A,2069.77,.,ABHet=0.369;AC=1;AF=0.5;AN=2;BaseQRankSum=1.03...,GT:AD:DP:GQ:PL,"0/1:38,65:103:99:2098,0,1050"
40,chr13,32954692,32954692,C,T,intronic,BRCA2,.,.,.,...,chr13,32954692,.,C,T,21.80,.,ABHet=0.625;AC=1;AF=0.5;AN=2;BaseQRankSum=-0.2...,GT:AB:AD:DP:GQ:MLPSAC:MLPSAF:PL:SAC:SB,"0/1:0.63:5,3:8:50:1:0.5:50,0,94:0,5,0,3:0,5,0,3"
41,chr13,32954741,32954741,T,A,intronic,BRCA2,.,.,.,...,chr13,32954741,rs206145,T,A,161.90,.,ABHom=1;AC=2;AF=1;AN=2;DB;DP=5;Dels=0;ExcessHe...,GT:AD:DP:GQ:PL,"1/1:0,5:5:15:190,15,0"
42,chr13,32968591,32968591,G,A,intronic,BRCA2,.,.,.,...,chr13,32968591,rs7327867,G,A,435.77,.,ABHet=0.36;AC=1;AF=0.5;AN=2;BaseQRankSum=-0.43...,GT:AD:DP:GQ:PL,"0/1:9,16:25:99:464,0,245"
43,chr13,32968607,32968607,A,G,intronic,BRCA2,.,.,.,...,chr13,32968607,rs7330025,A,G,677.77,.,ABHet=0.4;AC=1;AF=0.5;AN=2;BaseQRankSum=0.242;...,GT:AD:DP:GQ:PL,"0/1:14,21:35:99:706,0,402"
44,chr13,32970736,32970736,G,C,intronic,BRCA2,.,.,.,...,chr13,32970736,rs1012129,G,C,563.77,.,ABHet=0.528;AC=1;AF=0.5;AN=2;BaseQRankSum=-1.4...,GT:AD:DP:GQ:PL,"0/1:28,25:53:99:592,0,910"
45,chr13,32971425,32971425,T,C,intronic,BRCA2,.,.,.,...,chr13,32971425,rs206344,T,C,841.77,.,ABHom=1;AC=2;AF=1;AN=2;DB;DP=24;Dels=0;ExcessH...,GT:AD:DP:GQ:PL,"1/1:0,24:24:69:870,69,0"
46,chr13,32973012,32973012,A,C,UTR3,BRCA2,NM_000059:c.*105A>C,.,.,...,chr13,32973012,rs15869,A,C,4039.77,.,ABHet=0.511;AC=1;AF=0.5;AN=2;BaseQRankSum=-1.6...,GT:AD:DP:GQ:PL,"0/1:137,131:268:99:4068,0,4525"

In [66]:
# Filtrar variantes em uma lista de genes
gene_list = ["PTEN", "TP53"]
str_filter = multianno_df["Gene.refGene"].isin(gene_list)
multianno_df[str_filter]

,Chr,Start,End,Ref,Alt,Func.refGene,Gene.refGene,GeneDetail.refGene,ExonicFunc.refGene,AAChange.refGene,...,VCF_CHR,VCF_POS,VCF_ID,VCF_REF,VCF_ALT,VCF_QUAL_2,VCF_FILTER,VCF_INFO,VCF_FORMAT,VCF_SAMPLE_NAME
2,chr10,89623861,89623861,T,-,splicing,PTEN,NM_001304717:exon1:c.154+1T>-;NM_001304717:exo...,.,.,...,chr10,89623860,rs71022512,CT,C,234.80,.,AC=2;AF=1;AN=2;DB;DP=7;ExcessHet=3.0103;FS=0;M...,GT:AD:DP:GQ:PL,"1/1:0,6:7:18:272,18,0"
3,chr10,89623901,89623901,G,C,exonic,PTEN,.,nonsynonymous SNV,PTEN:NM_001304717:exon2:c.194G>C:p.C65S,...,chr10,89623901,rs2943772,G,C,440.77,.,ABHom=1;AC=2;AF=1;AN=2;DB;DP=14;Dels=0;ExcessH...,GT:AD:DP:GQ:PL,"1/1:0,14:14:36:469,36,0"
4,chr10,89654121,89654121,T,C,intronic,PTEN,.,.,.,...,chr10,89654121,rs139651072,T,C,216.77,.,ABHet=0.556;AC=1;AF=0.5;AN=2;BaseQRankSum=0.15...,GT:AD:DP:GQ:PL,"0/1:10,8:18:99:245,0,289"
5,chr10,89654190,89654190,G,A,intronic,PTEN,.,.,.,...,chr10,89654190,rs181780682,G,A,29.77,.,ABHet=0.714;AC=1;AF=0.5;AN=2;BaseQRankSum=0.36...,GT:AD:DP:GQ:PL,"0/1:5,2:7:58:58,0,172"
6,chr10,89711576,89711576,C,T,intronic,PTEN,.,.,.,...,chr10,89711576,rs141005791,C,T,96.77,.,ABHet=0.556;AC=1;AF=0.5;AN=2;BaseQRankSum=0.21...,GT:AD:DP:GQ:PL,"0/1:5,4:9:99:125,0,133"
7,chr10,89718057,89718057,A,G,intronic,PTEN,.,.,.,...,chr10,89718057,.,A,G,759.77,.,ABHet=0.324;AC=1;AF=0.5;AN=2;BaseQRankSum=0.83...,GT:AD:DP:GQ:PL,"0/1:11,23:34:99:788,0,283"
8,chr10,89720548,89720548,A,G,intronic,PTEN,.,.,.,...,chr10,89720548,.,A,G,1491.77,.,ABHet=0.467;AC=1;AF=0.5;AN=2;BaseQRankSum=-0.5...,GT:AD:DP:GQ:PL,"0/1:42,48:90:99:1520,0,1330"
9,chr10,89720634,89720634,T,-,intronic,PTEN,.,.,.,...,chr10,89720633,.,CT,C,1805.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=-0.601;DP=689;Ex...,GT:AD:DP:GQ:PL,"0/1:443,192:689:99:1843,0,6330"
10,chr10,89720907,89720907,T,G,intronic,PTEN,.,.,.,...,chr10,89720907,rs555895,T,G,10070.80,.,ABHet=0.555;AC=1;AF=0.5;AN=2;BaseQRankSum=6.08...,GT:AD:DP:GQ:PL,"0/1:397,318:717:99:10099,0,11475"
11,chr10,89721094,89721094,C,T,intronic,PTEN,.,.,.,...,chr10,89721094,rs2736627,C,T,3289.77,.,ABHom=1;AC=2;AF=1;AN=2;DB;DP=92;Dels=0;ExcessH...,GT:AD:DP:GQ:PL,"1/1:0,92:92:99:3318,259,0"
12,chr10,89725294,89725294,T,-,UTR3,PTEN,NM_001304718:c.*65delT;NM_001304717:c.*65delT;...,.,.,...,chr10,89725293,.,CT,C,9448.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=0.417;DP=2406;Ex...,GT:AD:DP:GQ:PL,"0/1:1610,625:2406:99:9486,0,34365"
13,chr10,89725582,89725582,C,T,UTR3,PTEN,NM_001304718:c.*353C>T;NM_001304717:c.*353C>T;...,.,.,...,chr10,89725582,rs181234898,C,T,201.77,.,ABHet=0.526;AC=1;AF=0.5;AN=2;BaseQRankSum=0.31...,GT:AD:DP:GQ:PL,"0/1:10,9:19:99:230,0,266"
68,chr17,7576265,7576265,A,-,intronic,TP53,.,.,.,...,chr17,7576264,.,TA,T,105.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=0.354;DP=29;Exce...,GT:AD:DP:GQ:PL,"0/1:20,9:29:99:143,0,380"
69,chr17,7576443,7576443,-,AA,intronic,TP53,.,.,.,...,chr17,7576443,.,C,CAA,605.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=-1.367;ClippingR...,GT:AD:DP:GQ:MLPSAC:MLPSAF:PL:SAC:SB,"0/1:11,24:35:99:1:0.5:566,0,111:11,0,24,0:10,0..."
70,chr17,7577679,7577679,T,-,intronic,TP53,.,.,.,...,chr17,7577678,.,CT,C,7065.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=1.437;DP=1700;Ex...,GT:AD:DP:GQ:PL,"0/1:805,734:1700:99:7103,0,11325"
71,chr17,7578115,7578115,T,C,intronic,TP53,.,.,.,...,chr17,7578115,rs1625895,T,C,13711.80,.,ABHom=1;AC=2;AF=1;AN=2;DB;DP=362;Dels=0;Excess...,GT:AD:DP:GQ:PL,"1/1:0,362:362:99:13740,1074,0"
72,chr17,7578645,7578645,C,T,UTR5,TP53,NM_001276697:c.-193G>A;NM_001276698:c.-193G>A;...,.,.,...,chr17,7578645,rs2909430,C,T,2001.77,.,ABHom=1;AC=2;AF=1;AN=2;DB;DP=62;Dels=0;ExcessH...,GT:AD:DP:GQ:PL,"1/1:0,61:62:99:2030,157,0"
73,chr17,7578712,7578715,TTTT,-,UTR5,TP53,NM_001276697:c.-260_-263delAAAA;NM_001276698:c...,.,.,...,chr17,7578711,.,CTTTT,C,78271.70,.,AC=1;AF=0.5;AN=2;BaseQRankSum=-0.215;DP=2426;E...,GT:AD:DP:GQ:PL,"1/.:152,1138:2426:99:78309,15975,16093"
74,chr17,7578712,7578714,TTT,-,UTR5,TP53,NM_001276697:c.-260_-262delAAA;NM_001276698:c....,.,.,...,chr17,7578711,.,CTTT,C,78271.70,.,AC=1;AF=0.5;AN=2;BaseQRankSum=-0.215;DP=2426;E...,GT:AD:DP:GQ:PL,"./1:152,971:2426:99:78309,16727,13403"
75,chr17,7578837,7578837,A,G,intronic,TP53,.,.,.,...,chr17,7578837,rs1794287,A,G,61525.80,.,ABHom=1;AC=2;AF=1;AN=2;DB;DP=1680;Dels=0;Exces...,GT:AD:DP:GQ:PL,"1/1:0,1672:1679:99:61554,4803,0"
76,chr17,7579472,7579472,G,C,exonic,TP53,.,nonsynonymous SNV,"TP53:NM_001126118:exon3:c.98C>G:p.P33R,TP53:NM...",...,chr17,7579472,rs1042522,G,C,74058.80,.,ABHom=0.982;AC=2;AF=1;AN=2;BaseQRankSum=11.225...,GT:AD:DP:GQ:PL,"1/1:57,3146:3215:99:74087,5357,0"
77,chr17,7579644,7579659,CCCCAGCCCTCCAGGT,-,intronic,TP53,.,.,.,...,chr17,7579643,rs146534833,CCCCCAGCCCTCCAGGT,C,122210.00,.,AC=2;AF=1;AN=2;DB;DP=1405;ExcessHet=3.0103;FS=...,GT:AD:DP:GQ:PL,"1/1:0,924:1405:99:122247,2780,0"
78,chr17,7579801,7579801,G,C,UTR5,TP53,NM_001126118:c.-232C>G,.,.,...,chr17,7579801,rs1642785,G,C,9509.77,.,ABHom=0.651;AC=2;AF=1;AN=2;BaseQRankSum=16.02;...,GT:AD:DP:GQ:PL,"1/1:203,378:582:99:9538,522,0"

* OUXEN, mas faltou variante que tinha como gene `TP53;WRAP53'` e agora?

> Pesquise por [`pandas parcial match values in list`](https://stackoverflow.com/questions/38333582/search-for-a-partial-string-match-in-a-data-frame-column-from-a-list-pandas) no google xD

In [67]:
pat = "|".join(gene_list)
pat

'PTEN|TP53'

In [68]:
str_filter = multianno_df["Gene.refGene"].str.contains(pat)
multianno_df[str_filter]

,Chr,Start,End,Ref,Alt,Func.refGene,Gene.refGene,GeneDetail.refGene,ExonicFunc.refGene,AAChange.refGene,...,VCF_CHR,VCF_POS,VCF_ID,VCF_REF,VCF_ALT,VCF_QUAL_2,VCF_FILTER,VCF_INFO,VCF_FORMAT,VCF_SAMPLE_NAME
2,chr10,89623861,89623861,T,-,splicing,PTEN,NM_001304717:exon1:c.154+1T>-;NM_001304717:exo...,.,.,...,chr10,89623860,rs71022512,CT,C,234.80,.,AC=2;AF=1;AN=2;DB;DP=7;ExcessHet=3.0103;FS=0;M...,GT:AD:DP:GQ:PL,"1/1:0,6:7:18:272,18,0"
3,chr10,89623901,89623901,G,C,exonic,PTEN,.,nonsynonymous SNV,PTEN:NM_001304717:exon2:c.194G>C:p.C65S,...,chr10,89623901,rs2943772,G,C,440.77,.,ABHom=1;AC=2;AF=1;AN=2;DB;DP=14;Dels=0;ExcessH...,GT:AD:DP:GQ:PL,"1/1:0,14:14:36:469,36,0"
4,chr10,89654121,89654121,T,C,intronic,PTEN,.,.,.,...,chr10,89654121,rs139651072,T,C,216.77,.,ABHet=0.556;AC=1;AF=0.5;AN=2;BaseQRankSum=0.15...,GT:AD:DP:GQ:PL,"0/1:10,8:18:99:245,0,289"
5,chr10,89654190,89654190,G,A,intronic,PTEN,.,.,.,...,chr10,89654190,rs181780682,G,A,29.77,.,ABHet=0.714;AC=1;AF=0.5;AN=2;BaseQRankSum=0.36...,GT:AD:DP:GQ:PL,"0/1:5,2:7:58:58,0,172"
6,chr10,89711576,89711576,C,T,intronic,PTEN,.,.,.,...,chr10,89711576,rs141005791,C,T,96.77,.,ABHet=0.556;AC=1;AF=0.5;AN=2;BaseQRankSum=0.21...,GT:AD:DP:GQ:PL,"0/1:5,4:9:99:125,0,133"
7,chr10,89718057,89718057,A,G,intronic,PTEN,.,.,.,...,chr10,89718057,.,A,G,759.77,.,ABHet=0.324;AC=1;AF=0.5;AN=2;BaseQRankSum=0.83...,GT:AD:DP:GQ:PL,"0/1:11,23:34:99:788,0,283"
8,chr10,89720548,89720548,A,G,intronic,PTEN,.,.,.,...,chr10,89720548,.,A,G,1491.77,.,ABHet=0.467;AC=1;AF=0.5;AN=2;BaseQRankSum=-0.5...,GT:AD:DP:GQ:PL,"0/1:42,48:90:99:1520,0,1330"
9,chr10,89720634,89720634,T,-,intronic,PTEN,.,.,.,...,chr10,89720633,.,CT,C,1805.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=-0.601;DP=689;Ex...,GT:AD:DP:GQ:PL,"0/1:443,192:689:99:1843,0,6330"
10,chr10,89720907,89720907,T,G,intronic,PTEN,.,.,.,...,chr10,89720907,rs555895,T,G,10070.80,.,ABHet=0.555;AC=1;AF=0.5;AN=2;BaseQRankSum=6.08...,GT:AD:DP:GQ:PL,"0/1:397,318:717:99:10099,0,11475"
11,chr10,89721094,89721094,C,T,intronic,PTEN,.,.,.,...,chr10,89721094,rs2736627,C,T,3289.77,.,ABHom=1;AC=2;AF=1;AN=2;DB;DP=92;Dels=0;ExcessH...,GT:AD:DP:GQ:PL,"1/1:0,92:92:99:3318,259,0"
12,chr10,89725294,89725294,T,-,UTR3,PTEN,NM_001304718:c.*65delT;NM_001304717:c.*65delT;...,.,.,...,chr10,89725293,.,CT,C,9448.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=0.417;DP=2406;Ex...,GT:AD:DP:GQ:PL,"0/1:1610,625:2406:99:9486,0,34365"
13,chr10,89725582,89725582,C,T,UTR3,PTEN,NM_001304718:c.*353C>T;NM_001304717:c.*353C>T;...,.,.,...,chr10,89725582,rs181234898,C,T,201.77,.,ABHet=0.526;AC=1;AF=0.5;AN=2;BaseQRankSum=0.31...,GT:AD:DP:GQ:PL,"0/1:10,9:19:99:230,0,266"
68,chr17,7576265,7576265,A,-,intronic,TP53,.,.,.,...,chr17,7576264,.,TA,T,105.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=0.354;DP=29;Exce...,GT:AD:DP:GQ:PL,"0/1:20,9:29:99:143,0,380"
69,chr17,7576443,7576443,-,AA,intronic,TP53,.,.,.,...,chr17,7576443,.,C,CAA,605.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=-1.367;ClippingR...,GT:AD:DP:GQ:MLPSAC:MLPSAF:PL:SAC:SB,"0/1:11,24:35:99:1:0.5:566,0,111:11,0,24,0:10,0..."
70,chr17,7577679,7577679,T,-,intronic,TP53,.,.,.,...,chr17,7577678,.,CT,C,7065.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=1.437;DP=1700;Ex...,GT:AD:DP:GQ:PL,"0/1:805,734:1700:99:7103,0,11325"
71,chr17,7578115,7578115,T,C,intronic,TP53,.,.,.,...,chr17,7578115,rs1625895,T,C,13711.80,.,ABHom=1;AC=2;AF=1;AN=2;DB;DP=362;Dels=0;Excess...,GT:AD:DP:GQ:PL,"1/1:0,362:362:99:13740,1074,0"
72,chr17,7578645,7578645,C,T,UTR5,TP53,NM_001276697:c.-193G>A;NM_001276698:c.-193G>A;...,.,.,...,chr17,7578645,rs2909430,C,T,2001.77,.,ABHom=1;AC=2;AF=1;AN=2;DB;DP=62;Dels=0;ExcessH...,GT:AD:DP:GQ:PL,"1/1:0,61:62:99:2030,157,0"
73,chr17,7578712,7578715,TTTT,-,UTR5,TP53,NM_001276697:c.-260_-263delAAAA;NM_001276698:c...,.,.,...,chr17,7578711,.,CTTTT,C,78271.70,.,AC=1;AF=0.5;AN=2;BaseQRankSum=-0.215;DP=2426;E...,GT:AD:DP:GQ:PL,"1/.:152,1138:2426:99:78309,15975,16093"
74,chr17,7578712,7578714,TTT,-,UTR5,TP53,NM_001276697:c.-260_-262delAAA;NM_001276698:c....,.,.,...,chr17,7578711,.,CTTT,C,78271.70,.,AC=1;AF=0.5;AN=2;BaseQRankSum=-0.215;DP=2426;E...,GT:AD:DP:GQ:PL,"./1:152,971:2426:99:78309,16727,13403"
75,chr17,7578837,7578837,A,G,intronic,TP53,.,.,.,...,chr17,7578837,rs1794287,A,G,61525.80,.,ABHom=1;AC=2;AF=1;AN=2;DB;DP=1680;Dels=0;Exces...,GT:AD:DP:GQ:PL,"1/1:0,1672:1679:99:61554,4803,0"
76,chr17,7579472,7579472,G,C,exonic,TP53,.,nonsynonymous SNV,"TP53:NM_001126118:exon3:c.98C>G:p.P33R,TP53:NM...",...,chr17,7579472,rs1042522,G,C,74058.80,.,ABHom=0.982;AC=2;AF=1;AN=2;BaseQRankSum=11.225...,GT:AD:DP:GQ:PL,"1/1:57,3146:3215:99:74087,5357,0"
77,chr17,7579644,7579659,CCCCAGCCCTCCAGGT,-,intronic,TP53,.,.,.,...,chr17,7579643,rs146534833,CCCCCAGCCCTCCAGGT,C,122210.00,.,AC=2;AF=1;AN=2;DB;DP=1405;ExcessHet=3.0103;FS=...,GT:AD:DP:GQ:PL,"1/1:0,924:1405:99:122247,2780,0"
78,chr17,7579801,7579801,G,C,UTR5,TP53,NM_001126118:c.-232C>G,.,.,...,chr17,7579801,rs1642785,G,C,9509.77,.,ABHom=0.651;AC=2;AF=1;AN=2;BaseQRankSum=16.02;...,GT:AD:DP:GQ:PL,"1/1:203,378:582:99:9538,522,0"
79,chr17,7590593,7590593,A,C,intronic,TP53;WRAP53,.,.,.,...,chr17,7590593,.,A,C,87.77,.,ABHet=0.749;AC=1;AF=0.5;AN=2;BaseQRankSum=-0.3...,GT:AD:DP:GQ:PL,"0/1:188,63:251:99:116,0,652"
80,chr17,7590601,7590601,A,C,intronic,TP53;WRAP53,.,.,.,...,chr17,7590601,.,A,C,339.77,.,ABHet=0.585;AC=1;AF=0.5;AN=2;BaseQRankSum=-2.0...,GT:AD:DP:GQ:PL,"0/1:172,122:294:99:368,0,1128"
81,chr17,7590607,7590607,A,C,intronic,TP53;WRAP53,.,.,.,...,chr17,7590607,.,A,C,41.77,.,ABHet=0.704;AC=1;AF=0.5;AN=2;BaseQRankSum=-5.0...,GT:AD:DP:GQ:PL,"0/1:226,95:321:70:70,0,2914"

* Esses filtros por coluna podem ser feitos usando a função `query()`

In [81]:
multianno_df.query("`Gene.refGene` == 'BRCA1'")

,Chr,Start,End,Ref,Alt,Func.refGene,Gene.refGene,GeneDetail.refGene,ExonicFunc.refGene,AAChange.refGene,...,VCF_CHR,VCF_POS,VCF_ID,VCF_REF,VCF_ALT,VCF_QUAL_2,VCF_FILTER,VCF_INFO,VCF_FORMAT,VCF_SAMPLE_NAME
82,chr17,41196822,41196824,TTT,-,UTR3,BRCA1,NM_007300:c.*873_*871delAAA;NM_007297:c.*873_*...,.,.,...,chr17,41196821,.,CTTT,C,84.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=0.689;ClippingRa...,GT:AD:DP:GQ:MLPSAC:MLPSAF:PL:SAC:SB,"0/1:109,19:128:99:1:0.5:122,0,3145:69,40,12,7:..."
83,chr17,41197940,41197940,T,-,intronic,BRCA1,.,.,.,...,chr17,41197939,.,AT,A,1932.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=3.135;ClippingRa...,GT:AD:DP:GQ:MLPSAC:MLPSAF:PL:SAC:SB,"0/1:60,107:167:99:1:0.5:1970,0,654:2,58,33,74:..."
84,chr17,41247621,41247621,A,-,intronic,BRCA1,.,.,.,...,chr17,41247620,.,CA,C,197.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=-0.097;DP=38;Exc...,GT:AD:DP:GQ:PL,"0/1:24,13:38:99:235,0,434"
85,chr17,41256075,41256075,A,-,intronic,BRCA1,.,.,.,...,chr17,41256074,.,CA,C,932.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=0.364;DP=201;Exc...,GT:AD:DP:GQ:PL,"0/1:128,67:201:99:970,0,2530"
86,chr17,41256088,41256088,A,-,intronic,BRCA1,.,.,.,...,chr17,41256087,.,GA,G,357.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=-0.38;ClippingRa...,GT:AD:DP:GQ:MLPSAC:MLPSAF:PL:SAC:SB,"0/1:83,28:111:99:1:0.5:395,0,2036:83,0,28,0:70..."
87,chr17,41258136,41258136,A,-,intronic,BRCA1,.,.,.,...,chr17,41258135,.,TA,T,203.73,.,AC=1;AF=0.5;AN=2;BaseQRankSum=-1.019;DP=69;Exc...,GT:AD:DP:GQ:PL,"0/1:36,24:69:99:241,0,424"

### Trabalhando com dados faltantes

### Agrupando um `DataFrame`

Assim como no `SQL` o pandas nos permite computar agregações em nossos `DataFrame`s. Para atingir tal objetivo, usaremos a função [`groupby`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html). O mecanimos por trás dessa função foge do escopo desse curso, contudo é importante notar que a metodologia usada para atingir essa funcionalidade é conhecida como *split-apply-combine*.

In [5]:
import numpy as np
agrupamento_df = pd.DataFrame({'chave1' : ['a', 'a', 'b', 'b', 'a'],
                   'chave2' : ['um', 'dois', 'um', 'dois', 'um'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})
agrupamento_df

  chave1 chave2     data1     data2
0      a     um  0.665078 -2.217535
1      a   dois  1.793492  0.260864
2      b     um -1.029816  1.835246
3      b   dois -0.105318  0.573794
4      a     um -2.292867  1.089472

In [13]:
agrupamento_chave1 = agrupamento_df['data1'].groupby(agrupamento_df['chave1'])
type(agrupamento_chave1)

pandas.core.groupby.generic.SeriesGroupBy

Apesar do resultado da operação `groupby` não ser de fato um `DataFrame` podemos computar funções de agregação no resultado da mesma forma. Dentro do pandas as operações mais comuns em agrupamentos (máximo, mínimo, media etc.) foram desenvolvidas de forma otimizada e podem ser aplicadas diretamente ao nosso objeto `pandas.core.groupby.generic.SeriesGroupBy`.

| **Nome da Função**                                                                                                                                               | **Descrição**                            |
|------------------------------------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------|
| [`count`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.DataFrameGroupBy.count.html?pandas.core.groupby.DataFrameGroupBy.count) |  Número de valores no agrupamento        |
| [`sum`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.sum.html?pandas.core.groupby.GroupBy.sum)                         | Soma dos valores no agrupamento          |
| [`mean`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.mean.html?pandas.core.groupby.GroupBy.mean)                      | Media dos valores no agrupamento         |
| [`median`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.median.html?pandas.core.groupby.GroupBy.median)                | Mediana dos valores no agrupamento       |
| [`std`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.std.html?pandas.core.groupby.GroupBy.std)                         | Desvio padrão dos valores no agrupamento |
| [`var`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.var.html?pandas.core.groupby.GroupBy.var)                         | Variância dos valores no agrupamento     |
| [`min`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.min.html?pandas.core.groupby.GroupBy.min)                         | Menores valores no agrupamento           |
| [`max`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.max.html?pandas.core.groupby.GroupBy.max)                         | Maiores valores no agrupamento           |
| [`prod`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.prod.html?pandas.core.groupby.GroupBy.prod)                      | Produto dos valores no agrupamento       |
| [`first`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.first.html?pandas.core.groupby.GroupBy.first)                   | Primeiros valores no agrupamento         |
| [`last`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.last.html?pandas.core.groupby.GroupBy.last)                      | Últimos valores no agrupamento           |

In [27]:
descricoes_chave1 = agrupamento_chave1.describe()
descricoes_chave1

,count,mean,std,min,25%,50%,75%,max
chave1,,,,,,,,
a,3.0,0.055234,2.110335,-2.292867,-0.813895,0.665078,1.229285,1.793492
b,2.0,-0.567567,0.653718,-1.029816,-0.798691,-0.567567,-0.336443,-0.105318

Podemos desenvolver nossas próprias funções de agregação e usá-las no nosso agrupamento com o auxílio da função [`agg`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.agg.html?pandas.core.groupby.GroupBy.agg).

In [29]:
def pico_a_pico(arr):
    return arr.max() - arr.min()


agrupamento_chave1.agg(pico_a_pico)

chave1
a    4.086360
b    0.924497
Name: data1, dtype: float64

Em vários casos é necessário computador diferentes funções para o mesmo agrupamento e analisar em conjunto os resultados. Nesse cenário, podemos passar uma lista de funções como parâmetro para a função `agg`. Nesse caso, nos é retornado um `DataFrame` com o resultado das computações no agrupamento.

In [32]:
resultado_agrupamentos_df = agrupamento_chave1.agg(["sum", "count", "mean", pico_a_pico])
type(resultado_agrupamentos_df)

             sum  count      mean  pico_a_pico
chave1
a       0.165703      3  0.055234     4.086360
b      -1.135134      2 -0.567567     0.924497

Não precisamos usar como nome das colunas o que é retornado para nós usando a sintaxe acima. Caso seja necessário dar nomes específicos as colunas resultantes das operações no agrupamento.

In [38]:
resultado_agrupamentos_df = agrupamento_chave1.agg([("soma", "sum"), ("contagem", "count"), ("media", "mean"), ("pico a pico", pico_a_pico)])
resultado_agrupamentos_df

            soma  contagem     media  pico a pico
chave1
a       0.165703         3  0.055234     4.086360
b      -1.135134         2 -0.567567     0.924497